/* Don't touch this */

html {
    font-size: var(--font-size) !important;
}

.container-2lgZY8 {
    background-color: rgba(0, 0, 0, 0);
}

.channels-Ie2l6A {
    -ms-flex-negative: 0;
    background-color: var(--main-transparency);
    flex-shrink: 0;
    width: 240px;
}

.container-2Thooq {
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 400;
    height: 52px;
    margin-bottom: 0px;
    padding: 0 10px;
    border-top: 1px solid var(--border-lines-color);
}

.theme-dark .title-3qD0b- {
    /* -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06); */
    background: var(--main-transparency);
    /* box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06); */
}
.theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ {
    background: rgba(0, 0, 0, 0);
}
.container-PNkimc {
    background-color: rgba(0, 0, 0, 0);
    contain: layout;
    min-height: 0;
    position: relative;
}

.theme-dark .members-1998pB {
    background-color: var(--main-transparency);
}

.theme-dark .chat>.content {
    background-color: rgba(0, 0, 0, 0);
}
.theme-dark .chat {
    background-color: var(--main-transparency);
}
.theme-dark .friends-table, .theme-dark .messages-wrapper {
    background-color: rgba(0, 0, 0, 0);
}

.theme-dark .chat form {
    -webkit-box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
}

.theme-dark .members-1998pB {
    background-color: rgba(0, 0, 0, 0);
}

.theme-dark #friends {
    background-color: var(--main-transparency);
}


.theme-dark .title-3qD0b- {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 2px 0 rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0), 0 2px 0 rgba(0, 0, 0, 0);
}

.theme-dark .inner-zqa7da {
    background-color: hsla(0, 0%, 0%, 0.5);
}

.contentSelectedText-3wUhMi {
    background-color: rgba(0, 0, 0, 0.0);
}

.container-1UB9sr {
    -ms-flex-align: center;
    -ms-flex-negative: 0;
    -webkit-box-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-shrink: 0;
    font-size: 14px;
    font-weight: 500;
    padding: 10px;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.0);
    border-color: rgba(0, 0, 0, 0);
}

.appMount-3VJmYg {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
}

.private-channels .channel.selected a {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}

.theme-dark .message-group .mentioned .message-text {
    background: rgba(114, 137, 218, 0.2);
}

.message-group .mentioned .message-text:after {
    background: rgba(114, 137, 218, 0.25);
    border-left: 4px solid rgba(114, 137, 218, 0);
    border-radius: 2px 0 0 2px;
    bottom: 0;
    content: " ";
    left: -6px;
    position: absolute;
    top: 0;
    width: 2px;
}

.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background-color: rgba(54, 57, 62, 0);
}

.theme-dark .friends-table .messages .divider:not(.red) div, .theme-dark .messages-wrapper .messages .divider:not(.red) div {
    background: rgba(255, 255, 255, 0.04);
}

.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background-color: rgba(0, 0, 0, 0.0);
}

.theme-dark .headerBar-UHpsPw {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
}

.theme-dark .typing-2GQL18 {
    background-color: rgba(54, 57, 62, 0);
}

.scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-color: rgba(255, 255, 255, .5);
}

.scroller-wrap .scroller::-webkit-scrollbar-thumb, .scroller-wrap .scroller::-webkit-scrollbar-track-piece {
    background-clip: padding-box;
    background-color: var(--scroll-bar-color);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 7px;
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-track-piece, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
}

.theme-dark .friends-table .scroller-wrap ::-webkit-scrollbar-thumb, .theme-dark .messages-wrapper .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-color: var(--scroll-bar-color);
}

.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
}

.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
}



.theme-dark .message-group .comment .markup pre {
    background: rgba(0, 0, 0, 0.7);
    border-color: #000000;
}
.contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active {
    background-color: rgba(0, 0, 0, 0);
}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background: rgba(255, 255, 255, .15);
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 {
    background-color: rgba(255, 255, 255, .15);
    color: #fff;
}

.wrapper-2NJDcI {
    background-color: rgba(255, 255, 255, 0);
    border-radius: 2px;
    color: #c5c5c5;
    display: inline-block;
    font-family: SourceCodePro,Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
}

.theme-dark .headerNormal-T_seeN {
    background-color: #000000;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: #000000;
    color: hsla(0,0%,100%,.8);
}

.theme-dark .quickMessage-1yeL4E {
    background-color: #000000;
    border-color: #2f3136;
    color: hsla(0,0%,100%,.7);
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 {
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
}


.theme-dark .search .search-bar {
    background-color: hsla(0, 0%, 13%, 0.21);
}

.headerSpotify-zpWxgT {
    background: #000000;
}

.headerPlaying-j0WQBV {
    background: #000000;
}

.unread-1Dp-OI {
    background-color: var(--main-color);
    opacity: .6;
    border-radius: 100px;
    height: 8px;
    left: -4px;
    margin-top: -4px;
    position: absolute;
    top: 50%;
    width: 8px;
}


/* Blocked meesages color */
.theme-dark .friends-table .messages .message-group-blocked .message-group-blocked-btn, .theme-dark .messages-wrapper .messages .message-group-blocked .message-group-blocked-btn {
    background: rgba(240, 71, 71, 0.05);
    color: #f04747;
}

.theme-dark .friends-table .messages .message-group-blocked, .theme-dark .messages-wrapper .messages .message-group-blocked {
    background: rgba(52, 55, 60, 0);
    border-color: #f04747;
}

.theme-dark .friends-table .messages .message-group-blocked.revealed, .theme-dark .messages-wrapper .messages .message-group-blocked.revealed {
    background: rgba(240, 71, 71, 0.1);
    border-color: #f04747;
}

.base-3dtUhz {
    border-radius: 0;
}

.video-1FfuMD {
    background-color: rgba(0,0,0,.15) !important;
}

.private-channels .channel:hover a {
    background-color: var(--hover-list-bg-color);
    color: #fff;
}



.private-channels .channel.selected .status {
    border-color: transparent;
}

.private-channels .channel:hover .status {
    border-color: transparent;
}

.private-channels .status {
    border: 2px solid transparent;
}


.theme-dark .friends-table .messages .divider:before, .theme-dark .friends-table .messages .divider span, .theme-dark .messages-wrapper .messages .divider:before, .theme-dark .messages-wrapper .messages .divider span {
    background-color: transparent;
}


.theme-dark .messages-wrapper .messages .divider span {
    display: block;
    width: 100% !important;
    text-align: center;
    border-radius: 0 !important;
    background-color: rgba(255,255,255,0.1);
    padding: 2px 0;
}

.theme-dark .friends-table .messages .divider:not(.red) span, .theme-dark .messages-wrapper .messages .divider:not(.red) span {
    color: rgba(255, 255, 255, 0.6);
}

.theme-dark .friends-table .messages .divider.divider-red>span, .theme-dark .messages-wrapper .messages .divider.divider-red>span {
    color: #fff;
}

.theme-dark .message-group .comment .markup code.inline, .theme-dark .message-group .comment .markup pre code {
    background: rgba(255, 255, 255, 0.15);
}

.theme-dark .message-group .comment .markup pre code {
    background: rgba(0, 0, 0, 0.15);
}

.theme-dark .message-group .comment .markup pre {
    background: rgba(0, 0, 0, 0.6);
    border-color: var(--main-color);
}

.message-group .comment .markup pre {
    border-radius: 0 !important;
}

/* 07-2018 update */
.theme-dark .markup-2BOw-j pre {
    background: rgba(0, 0, 0, 0.6);
    border-color: var(--main-color);
    border-radius: 0;
}

.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
    background: rgba(255, 255, 255, 0.05);
}

/* End */

.iconCollapsed-3hFp_8, .iconDefault-3Gr8d2, .nameCollapsed-34uFWo, .nameDefault-2DI02H {
    color: var(--main-color);
}

.theme-dark #friends .friends-table .friends-row:hover {
    background: rgba(255, 255, 255, .15);
    border-color: transparent;
}

.theme-dark #friends .tab-bar .tab-bar-item:hover:not(.selected) {
    background-color: var(--hover-list-bg-color);
}

/* extras optional */
.theme-dark .topSectionNormal-2-vo2m {
    background-color: rgba(22,22,22,.6);
}

.theme-dark .body-3ND3kc {
    background-color: rgba(33,33,33,.6);
}

.theme-dark .messagesPopoutWrap-1MQ1bW .header-ykumBX {
    background-color: rgba(22,22,22,.6);
}

.theme-dark .messagesPopoutWrap-1MQ1bW {
    background-color: rgba(33,33,33,.6);
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group {
    background-color: rgba(11,11,11,.6);
}

.theme-dark .messagesPopoutWrap-1MQ1bW .messagesPopout-24nkyi .message-group .actionButtons-1sUUug .jumpButton-3DTcS_ {
    background-color: rgba(33,33,33,.6);
    color: hsla(0,0%,100%,.8);
}

.actionButtons-1sUUug {
    box-shadow: none !important;
}

.theme-dark .themed-popout .header {
    background-color: rgba(22,22,22,.6);
}

.theme-dark .themed-popout {
    background-color: rgba(33,33,33,.6);
}

.theme-dark .private-channel-recipients-invite .friend.selected, .theme-dark .private-channel-recipients-invite .friend:hover {
    background: rgba(0,0,0,.05);
}

.theme-dark .private-channel-recipients-invite .friend {
    background: rgba(0,0,0,.5);
    color: #fff;
}

.theme-dark .quickswitcher-3JagVE {
    background-color: rgba(22,22,22,.6);
    color: #dcddde;
}

.theme-dark .input-2VB9rf {
    background-color: rgba(11,11,11,.8);
}

.theme-dark .menu-Sp6bN1 {
    background: var(--main-transparency);
}

.theme-dark .item-1GzJrl:hover {
    background-color: var(--hover-list-bg-color);
}

/* end extras */

div.unread-mentions-indicator-bottom {
    display: none !important;
}

.tooltip.tooltip-black * {
    background-color: rgba(33,33,33,.68);
}

.theme-dark .status-2s6iDp {
    border-color: rgba(0,0,0,0);
}

.container-2Thooq .status {
    border: 2px solid rgba(0,0,0,0);
}

.actionButtons-1sUUug {
    background-color: rgba(0,0,0,0) !important;
}

.iconHovered-2L3-fB,
.iconHoveredCollapsed-3caIIZ,
.nameHovered-1gxhWH,
.nameHoveredCollapsed-2orEWB {
    color: var(--main-color);
}

.theme-dark .member-3W1lQa.popout-open .content-OzHfo4 .status-2s6iDp, .theme-dark .member-3W1lQa.popout-open:hover .content-OzHfo4 .status-2s6iDp {
    border-color: rgba(0,0,0,0);
}

.theme-dark .member-3W1lQa:hover .content-OzHfo4 .status-2s6iDp {
    border-color: rgba(0,0,0,0);
}

.theme-dark .iconBadge-2dji3k {
    border-color: rgba(0,0,0,0);
}

.iconBadge-2dji3k {
    -webkit-box-shadow: none;
    background-color: #f04747;
    border: 2px solid transparent;
    border-radius: 8px;
    box-shadow: none;
    height: 4px;
    position: absolute;
    right: 5px;
    top: 3px;
    width: 4px;
}

.video-1FfuMD {
    background-color: rgba(0,0,0,0) !important;
}

.theme-dark .private-channel-call {
    background-color:  rgba(0,0,0,.35) !important
}

.theme-dark .attachPopoutRow-KrE-f6:hover {
    background-color: var(--hover-list-bg-color);
}

.theme-dark .attachPopout-1n-ZKM {
    background-color: rgba(22,22,22,0.8);
}


.message-group.compact.message-group {
    padding: 7px 0;
}

.theme-dark .wrapper-29NfPK {
    background-color: rgba(0, 0, 0, 0);
}

.theme-dark .activityFeed-28jde9 {
    background-color: var(--main-transparency);
}

.isMentionedCozy-3isp7y:after {
    background: rgba(58, 113, 193, 0.15) !important;
    border-left: 4px solid #3a71c1 !important;
}

.theme-dark .isMentioned-N-h9aa {
    background: rgba(58, 113, 193, 0.15) !important;
}

.wrapper-3NnKdC{width: 242px;}
.wrapper-3NnKdC .scroller-wrap{width: 251px;}
.wrapper-3NnKdC .scroller-1Bvpku {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
}

.wrapper-3NnKdC .scroller-1Bvpku .container-1ETFDs {
    margin-left: 8px;
    margin-top: 8px;
}

.wrapper-3NnKdC .scroller-1Bvpku .container-1ETFDs.unread-2OHH1w::before {
    left: -2px;
    top: 5px;
    z-index:9000;
}

.scroller-1Bvpku > .container-1ETFDs,
.scroller-1Bvpku > .container-1ETFDs:first-child {
    margin: auto;
}

.dms-rcsEnV > .wrapper-3NnKdC .scroller-1Bvpku .container-1ETFDs:first-child {
    margin: none !important;
}

#bd-pub-li {
    position: absolute;
    top: 0px;
    left: 0px;
}

#bd-pub-li #bd-pub-button {
    position:absolute;
    width: 100%;
    text-align: center;
}

.wrapper-3NnKdC .scroller-1Bvpku .guildSeparator-33mFX6 {
    position: relative;
    width: 100%;
    margin-top: 12px;
}

.wrapper-3NnKdC .scroller-1Bvpku .friendsOnline-2JkivW {
    position: relative;
    width: 100%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}

.wrapper-3NnKdC .scroller-1Bvpku .container-1ETFDs.selected-nT-gM3:before {
    display: none;
}

.wrapper-3NnKdC .scroller-1Bvpku .container-1ETFDs {
    position: relative;
}

.wrapper-3NnKdC .scroller-1Bvpku .dms-rcsEnV {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.wrapper-3NnKdC .scroller-1Bvpku .dms-rcsEnV .container-1ETFDs {
    left: 0;
}

.theme-dark .wrapper-3NnKdC {
    background-color: var(--main-transparency);
}

.container-1ETFDs.selected-nT-gM3:before, .container-1ETFDs.unread-2OHH1w:before {
    border-radius: 50px !important;
    content: " ";
    height: 54px !important;
    left: -15px !important;
    margin-top: -20px !important;
    position: absolute !important;
    top: 50% !important;
    width: 54px !important;
}

.container-1ETFDs.unread-2OHH1w:before {
    margin-top: 0px !important;
}

.wrapper-3NnKdC .scroller-1Bvpku .container-1ETFDs.unread-2OHH1w::before {
    left: -2px !important;
    top: -2px !important;
    z-index: -1 !important;
}

.theme-dark .chat-3bRxxu {
    background-color: var(--main-transparency);
}

.theme-dark .chat-3bRxxu form {
    background-color: rgba(0, 0, 0, 0.0);
}

.theme-dark .content-yTz4x3 {
    background-color: rgba(0, 0, 0, 0.0);
}

.theme-dark .messagesWrapper-3lZDfY {
    background-color: rgba(0, 0, 0, 0);
}

.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-track-piece {
    background-color: rgba(47, 49, 54, 0);
    border-color: rgba(54, 57, 63, 0);
}

.theme-dark .messagesWrapper-3lZDfY .scroller-wrap ::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-color: rgba(54, 57, 63, 0);
}

.theme-dark .divider-3gKybi:before {
    background-color: rgba(54, 57, 63, 0);
}

.theme-dark .divider-3gKybi span {
    background-color: rgba(54, 57, 63, 0);
}

.wrapper-3NnKdC .scroller-wrap {
    width: 242px;
}

.channels-Ie2l6A {
    border-left: 1px solid var(--border-lines-color);
    border-right: 1px solid var(--border-lines-color);
}

.theme-dark .guildSeparator-33mFX6:after {
    background: var(--border-lines-color);
}

.guildSeparator-33mFX6:after {
    height: 1px;
}

[class~=app] {
    background: var(--background-image) !important;
    background-size: cover !important;
}

.appMount-3lHmkl {
    -ms-flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    position: absolute;
    width: 100vw;
    background: var(--background-image) !important;
    background-size: cover !important;
}

.typeWindows-1za-n7 {
    height: 23px;
    margin-top: 0px;
    background: var(--main-transparency);
}

.winButton-iRh8-Z {
    top: 0px !important;
}

/* .theme-dark .homeIcon-tEMBK1 {
    display: none;
} */

.theme-dark .container-1ETFDs.unread-2OHH1w:before {
    background: var(--main-color);
    animation: var(--unread-server-animation) 3s linear infinite;
}

@keyframes rainbow {
    0% {
        -webkit-filter: hue-rotate(0);
        -moz-filter: hue-rotate(0);
        -ms-filter: hue-rotate(0);
        filter: hue-rotate(0);
    }
    100% {
        -webkit-filter: hue-rotate(360deg);
        -moz-filter: hue-rotate(360deg);
        -ms-filter: hue-rotate(360deg);
        filter: hue-rotate(360deg);
    }
}

.theme-dark .container-1ETFDs .homeButton-2Cw51C {
    background: transparent;
    border-radius: 25px !important;
}

.container-1ETFDs:hover {
    transform: scale(1.08);
}

.container-1ETFDs .guildIcon-VlWW86 {
    border-radius: 25px;
}

.scroller-2FKFPG > .listItem-GuPuDH:first-child > .listItemWrapper-3X98Pc > .wrapper-25eVIn {
    background: var(--friends-icon) !important;
    background-position: var(--friends-icon-position) !important;
    background-repeat: no-repeat !important;
    background-size: var(--friends-icon-zoom) !important;
    border-radius: 100%;
}

.theme-dark .body-SKIE6r {
    background-color: rgba(0,0,0,.3);
}

.theme-dark .card-7JP0BX {
    background-color: rgba(0,0,0,.3);
}

.theme-dark .header-1RC2Wb {
    background-color: rgba(255,255,255,.1);
}

.article-FleDq5 {
    background-color: rgba(0,0,0,.3);
}

.tooltip.tooltip-black {
    background-color: rgba(33,33,33,.68) !important;
}

.tooltip.tooltip-black:before,
.tooltip.tooltip-black:after {
    border-color: transparent !important;
}

.theme-dark .ui-standard-sidebar-view .sidebar-region {
    background: var(--options-transparency);
}

.theme-dark .ui-standard-sidebar-view .content-region {
    background: var(--options-transparency);
}

.theme-dark .ui-standard-sidebar-view {
    background: var(--main-transparency);
}

.unreadMentionsIndicatorBottom-BXS58x {
    display: none;
}

.scroller-wrap .scroller::-webkit-scrollbar {
    width: 12px !important;
}

/* Edit this to change the color of a selected text or voice join */
.nameSelectedText-sp_EUw, .nameSelectedVoice-1qSph5 {
    color: var(--selected-text-voice-color);
}
/* Edit this to change the color when you hover over a text channel */
.nameHoveredText-1uO31y {
    color: var(--text-hover-color);
}
/* Edit this to change the color when you hover over a voice channel */
.nameHoveredVoice-YJ1Vfd {
    color: var(--voice-hover-color);
}
/* Edit this to change the color of an unread text channel color */
.nameUnreadText-DfkrI4, .nameUnreadVoice-EVo-wI {
    color: var(--unread-text-color);
}

#bd-pub-li #bd-pub-button {
    border-radius: 25px !important;
    background: #2f3136 !important;
}

.dms-rcsEnV {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.bda-dark .emoji-picker .header .search-bar, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
    background-color: rgba(33,33,33,.3);
}

.bda-dark .emoji-picker .scroller::-webkit-scrollbar, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track, .bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track, .bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
    background-color: rgba(0,0,0,0) !important;
    border-color: rgba(0,0,0,0) !important;
}

.scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
}

.uploadModal-2ifh8j {
    background-color: rgba(33,33,33,.6);
}

.uploadModal-2ifh8j .footer-3mqk7D {
    background-color: rgba(0,0,0,.4);
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    color: #222;
}

.theme-dark .modal-3HD5ck {
    background-color: rgba(33,33,33,.6);
}

.theme-dark .footer-2yfCgX {
    background-color: rgba(0,0,0,.4);
}

.theme-dark .gameLibrary-TTDw4Y {
    background-color: var(--main-transparency);
}

.theme-dark .header-39GIC8 {
    background-color: transparent;
}

.theme-dark .applicationStore-1pNvnv {
    background-color: var(--main-transparency);
}

.channel-2QD9_O .status {
    border: 2px solid transparent !important;
}

.channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a {
    background-color: rgba(79,84,92,.6);
    color: #fff;
}

.search-bar {
    background-color: rgba(79,84,92,.5);
}

.uploadModal-2ifh8j .footer-3mqk7D .button-primary {
    color: #fff !important;
}

.theme-dark .search-results-wrap .search-header {
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,20%);
    background-color: rgba(0,0,0,.4);
    box-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.theme-dark .search-results-wrap {
    background-color: rgba(22,22,22,.6);
}

.theme-dark .search-results-wrap .search-result:before {
    background-image: -webkit-gradient(linear,left bottom,left top,from(rgba(47,49,54,0)),to(rgba(255,255,255,.08)));
    background-image: linear-gradient(0deg,rgba(47,49,54,0),rgba(255,255,255,.08));
}

.theme-dark .search-results-wrap .search-result:after {
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(47,49,54,0)),to(rgba(255,255,255,.08)));
    background-image: linear-gradient(180deg,rgba(47,49,54,0),rgba(255,255,255,.08));
}

.search-results-wrap .search-result:before {
    background-image: -webkit-gradient(linear,left bottom,left top,from(hsla(0,0%,94.5%,0)),to(#f1f1f1));
    background-image: none;
    top: 0;
    z-index: 1;
}

.theme-dark .search-results-wrap .channel-separator .channel-name {
    background-color: rgba(255,255,255,0);
    color: #fff;
}

.theme-dark .search-results-wrap .search-result .hit {
    -webkit-box-shadow: 0 0 10px 6px #2f3136;
    background-color: rgba(0,0,0,.3);
    box-shadow: none;
}

.theme-dark .search-results-wrap .search-result .search-result-message.hit {
    border: 1px solid rgba(255,255,255,.2);
}

.theme-dark .messageGroupWrapper-o-Zw7G {
    background-color: rgba(0,0,0,.45);
    border-color: rgba(255,255,255,.1);
}

.messageGroupWrapper-o-Zw7G {
    border-width: 1px;
}

.theme-dark .jumpButton-3DTcS_ {
    background-color: rgba(255,255,255,.3);
    color: hsla(0,0%,100%,.6);
}

.channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a {
    background-color: var(--hover-list-bg-color);
    color: #fff;
}

.headerSpotify-zpWxgT {
    background: rgba(22,22,22,.8);
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: var(--main-transparency);
    color: hsla(0,0%,100%,.8);
}

.headerSpotify-zpWxgT {
    background: rgba(22,22,22,.8);
}

.headerPlaying-j0WQBV {
    background: rgba(22,22,22,.8);
}

.topSectionSpotify-1lI0-P {
    background: rgba(33, 33, 33, 0.6);
}

.topSectionPlaying-1J5E4n {
    background: rgba(33, 33, 33, 0.6);
}

.theme-dark .hasMore-3e72_v button {
    background: rgba(0,0,0,.4);
    border: 1px solid #2f3136;
}

.theme-dark .sidebarRegion-VFTUkN {
    background: transparent;
}

.theme-dark .standardSidebarView-3F1I7i {
    background: var(--main-transparency);
}

.theme-dark .contentRegion-3nDuYy {
    background: transparent;
}

.theme-dark .tileWrapper-2khh-w {
    background-color: rgba(0,0,0,.7);
}

.theme-dark .mediaDescription-31GsyQ {
    background: -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(45%,rgba(0,0,0,.75)),to(rgba(0,0,0,.75)));
    background: linear-gradient(180deg,transparent,rgba(0,0,0,.75) 45%,rgba(0,0,0,.75));
}

.theme-dark .itemBackground-1jfD8p:before {
    background: radial-gradient(ellipse at top,rgba(0,0,0,0),rgba(0,0,0,.75)),-webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.75)),color-stop(40%,rgba(0,0,0,0)),color-stop(60%,rgba(0,0,0,0)),to(rgba(0,0,0,.75))),-webkit-gradient(linear,left bottom,left top,color-stop(10%,rgba(0,0,0,.75)),color-stop(70%,rgba(0,0,0,0))) !important;
    background: radial-gradient(ellipse at top,rgba(0,0,0,0),rgba(0,0,0,.75)),linear-gradient(90deg,rgba(0,0,0,.75) 0,rgba(0,0,0,0) 40%,rgba(0,0,0,0) 60%,rgba(0,0,0,.75)),linear-gradient(0deg,rgba(0,0,0,.75) 10%,rgba(0,0,0,0) 70%) !important;
}

.theme-dark .container-2Thooq, .theme-light .container-2Thooq {
    background: transparent;
}

.theme-dark .card-FDVird:before {
    background-color: rgba(255,255,255,.15);
    border-color: rgba(255,255,255,.05);
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
    background-color: #a8a8a8;
    height: 36px;
    min-width: 84px;
    margin-right: 20px;
    padding: 0!important;
}

.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh-:hover {
    background: transparent;
}

.theme-dark .messageGroupBlocked-3wrQQX {
    background: rgba(0,0,0,.5);
    border-color: transparent;
}

.theme-dark .messageGroupBlocked-3wrQQX .messageGroupBlockedBtn-1PBBh- {
    background: transparent;
}

.theme-dark .messageGroupBlocked-3wrQQX.revealed-1_RKsf {
    background: rgba(0,0,0,.5);
    border-color: transparent;
}

.emojiPicker-3m1S-j {
    background-color: rgba(0,0,0,.7);
}

.search-bar.search-bar-light {
    background-color: rgba(0,0,0,0);
}

.theme-dark .message-2qRu38 {
    background-color: rgba(0,0,0,.5);
}

.theme-dark .markup-2BOw-j code.inline {
    background: rgba(255, 255, 255, 0.14);
}

.emojiPicker-3m1S-j .scroller-3vODG7 .emojiItem-109bjA.selected-39BZ4S {
    background-color: rgba(255,255,255,.14) !important;
}

.theme-dark .root-1BQpZw {
    background-color: var(--main-transparency);
}

.theme-dark .root-26DmKJ {
    background-color: var(--main-transparency);
}
.theme-dark .topPill-30KHOu .item-PXvHYJ:hover:not(.itemSelected-1qLhcL) {
    background-color: rgba(255,255,255,.15);
}
.theme-dark .applicationTile-1Goy1W {
    background-color: transparent;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid rgba(0, 0, 0, 0);
    border-radius: 7px;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-color: rgba(0, 0, 0, 0);
}

.scrollerWrap-1IAIlv {
    width: 248px;
}

.theme-dark .container-3gCOGc {
    background-color: var(--main-transparency);
}

.searchBar-2_Yu-C {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .friendsTable-133bsv .friendsRow-2yicud .friendsColumnActions-1LT3_M .friendsAction-__WNE9 {
    background-color: rgba(255,255,255,.15);
}

/* upload buttons */
.lookInverted-2D7oAl.colorBrand-3pXr91 {
    background-color: rgba(255,255,255,.15);
    color: #fff;
}

.lookInverted-2D7oAl.colorBrand-3pXr91:hover {
    background-color: rgba(255,255,255,.25);
}

.uploadModal-2ifh8j .footer-3mqk7D .button:first-child {
    border: 2px solid rgba(240,71,71,.35);
    background-color: transparent;
    line-height: 16px;
    padding: 2px 16px !important;
    color: #f04747;
    border-radius: 3px;
}

.theme-dark .autocomplete-1vrmpx {
    background-color: rgba(0,0,0,.9);
}

.theme-dark .header-1TOWci {
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.15), 0 1px 2px 0 rgba(255,255,255,.15);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.15), 0 1px 2px 0 rgba(255,255,255,.15);
}

.theme-dark .searchBar-1MOL6S {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .option-1l2vXE {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6 {
    color: #f6f6f7;
    background-color: rgba(255,255,255,.15);
}

.theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:active, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6:hover {
    background-color: rgba(255,255,255,.2);
}

/* emojis */
.emojiPicker-3m1S-j .searchBar-2pWH0_ {
padding: 0 !important;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
    background-color: rgba(255,255,255,.15);
    border-radius: 3px!important;
    margin-left: 8px;
    margin-top: 8px;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG {
    background-color: transparent;
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    border-radius: 3px;
}

.diversitySelector-tmmMv0 .popout-2nUePc {
    background: rgba(255,255,255,.15);
    border: 1px solid rgba(255,255,255,.3);
}

.scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerThemed-2oenus.themeLight-1_DWyY.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .circleIconButton-1QV--U {
    background: rgba(0,0,0,.4);
    border-color: rgba(255,255,255,.3);
    color: rgba(255,255,255,.15);
}
.scrollerThemed-2oenus.themeGhost-28MSn0 .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.15);
    border-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-dark .scrollerWrap-2lJEkd .scroller-2FKFPG::-webkit-scrollbar-thumb, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scroller-2FKFPG::-webkit-scrollbar-thumb {
    background-color: rgba(255,255,255,0.15);
    border-color: transparent;
}
.scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-dark .scrollerWrap-2lJEkd.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scroller-2FKFPG::-webkit-scrollbar-track, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp.scrollerTrack-1ZIpsv>.scrollerStore-390omS::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.15);
}

.tooltips-FhwIyl.da-tooltips * {
    background-color: rgba(0,0,0,.75) !important;
}
.channel-2QD9_O.selected-1HYmZZ .status-1ibiUI {
    border-color: transparent;
}

.channel-2QD9_O .status-1ibiUI {
    border: 2px solid transparent;
}

.channel-2QD9_O:hover .status-1ibiUI {
    border-color: transparent;
}

.uploadModal-2ifh8j .footer-3mqk7D .button {
    margin-right: 0;
}
.aka-1mqp34 {
    background: rgba(255,255,255,.3);
}
.theme-dark .status-2kJpnA, .theme-light .status-2kJpnA {
    border: 2px solid transparent;
}
.themeDefault-24hCdX {
    background-color: rgba(255,255,255,.15);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: rgba(255,255,255,.15);
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: rgba(255,255,255,.3);
}
.theme-dark .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: rgba(255,255,255,.1);
}
.theme-dark .input-cIJ7To:hover {
    border-color: rgba(255,255,255,.05);
}
.theme-dark .input-cIJ7To:focus {
    border-color: var(--main-color);
}

.theme-dark .accountBtnInner-sj5jLs {
    background-color: rgba(255,255,255,.15);
    border-color: rgba(255,255,255,.3);
}

.theme-dark .accountBtnInner-sj5jLs:hover {
    background-color: rgba(255,255,255,.3);
    border-color: rgba(255,255,255,.3);
}

.scroller-1Bvpku > .container-1ETFDs:nth-last-child(2) {
    margin-right: 0 !important;
}
.theme-dark .gameUpdates-2GPqBU {
    background-color: rgba(0,0,0,.4);
}

.emojiPicker-3m1S-j .stickyHeader-1SS0JU {
    background: rgba(0,0,0,.8);
}

.theme-dark .pageWrapper-1PgVDX {
    background-color: var(--main-transparency);
}

.theme-dark .selectorSelected-1_M1WV {
    background-color: rgba(255,255,255,.25);
}

.theme-dark .container-3ayLPN {
    background-color: rgba(0,0,0,.9);
}

.theme-dark .option-96V44q:after {
    background: none;
}

.theme-dark .option-96V44q.selected-rZcOL- {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .searchResult-3pzFAB .hit-NLlWXA {
    box-shadow: none;
}

.theme-dark .searchResult-3pzFAB .searchResultMessage-2VxO12.hit-NLlWXA {
    border: 2px solid rgba(255,255,255,.15);
}

.theme-dark .jumpButton-Ia2hRJ {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: rgba(255,255,255,.15);
}

.searchAnswer-3Dz2-q, .searchFilter-2ESiM3 {
    margin-right: 4px;
}

.resultsWrapper-hoiXCY {
    background-color: rgba(0,0,0,.2);
}

.searchResultsWrap-2DKFzt {
    background: rgba(0,0,1,.0) !important;
}

.searchResult-3pzFAB:before {
    background: rgba(0,0,1,.0) !important;
    box-shadow: none !important;
}
.searchResult-3pzFAB:after {
    background: rgba(0,0,1,.0) !important;
    box-shadow: none !important;
}

.channelName-1QajIf {
    background: rgba(0,0,1,.0) !important;
}

.searchResultMessage-2VxO12 {
    background: rgba(0,0,1,.0) !important;
}
.hit-NLlWXA {
    background: rgba(0,0,1,.0) !important;
}
.searchHeader-1l-wpR {
    background: rgba(0,0,1,.0) !important;
}

.theme-dark .rowWrapperDim-2Y1SDG .nameBodyCell-3JOlnK, .theme-dark .rowWrapperDim-2Y1SDG .settingIcon-1nXguX, .theme-dark .rowWrapperDim-2Y1SDG .textCell-1aBIUP {
    opacity: 0.6;
}

.theme-dark .activityFeed-1C0EmJ {
    background-color: var(--main-transparency);
}

.theme-dark.contextMenu-HLZMGh {
    background: rgba(0,0,0,.8);
}

/* extra fixes */

.container-2td-dC {
    margin-left: 8px;
    margin-right: 2px;
}

.guildsErrorContainer-2uWYsE {
  margin-right: 2px;
  margin-left: 8px;
}

.scroller-1Bvpku > div:nth-last-child(-n+2) {
  margin-right: 8px;
  margin-left: 0px;
}

.theme-dark .unread-2OHH1w:before {
    background: var(--main-color) !important;
    animation: var(--unread-server-animation) 3s linear infinite;
}

.selected-nT-gM3:before, .unread-2OHH1w:before {
    border-radius: 50%;
    content: " ";
    height: 54px;
    position: absolute;
    margin-top: 0;
    top: -2px;
    left: -2px;
    width: 54px;
}

.unread-2OHH1w:hover:before {
    transition: .2s ease;
    border-radius: 15px;
}

.container-1aNBdK {
    margin-left: 8px;
    margin-right: 2px;
}

.theme-dark .selected-nT-gM3:before {
    background: transparent;
    border-radius: 15px;
}

.theme-dark .wrapper-2lTRaf {
    background: transparent;
}

.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
    color: hsla(0,0%,100%,.8);
}

.headerPlaying-j0WQBV {
    background: transparent;
}

.theme-dark .footer-1fjuF6 {
    border-color: transparent;
}


.userPopout-3XzG_A {
    box-shadow: none;
    background: var(--user-popup-background, var(--main-transparency));
}

.bodyTitle-Y0qMQz {
    color: #fff;
}

.theme-dark .note-3kmerW textarea {
    color: #dcddde;
}

.headerSpotify-zpWxgT {
    background: transparent;
}

.theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}

.theme-dark .quickMessage-1yeL4E {
    background-color: rgba(0,0,0,.2);
    border-color: rgba(255,255,255,.15);
    color: hsla(0,0%,100%,.7);
}

.theme-dark .note-3kmerW textarea:focus {
    background-color: rgba(255,255,255,0.05);
}

.theme-dark .audio-3sNR7M:after, .theme-dark .video-3I9W8t:after {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .outer-2IVh5n {
    background-color: rgba(0,0,0,.5);
}

.theme-dark .unwrapped-37iUtM.clickable-nnkAZy:hover, .theme-dark .wrapped-15rg6t {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .wrapped-15rg6t.clickable-nnkAZy:hover {
    background-color: rgba(255,255,255,.3);
}

.theme-dark .wrapper-3UweLa {
    background-color: transparent
}

.theme-dark .recentlyPlayedContainer-2F3MqS {
    background-color: transparent;
}

.theme-dark .container-3cGP6G {
    background: rgba(0,0,0,.7);
}

.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
    background-color: rgba(255,255,255,.15);
}


.unreadMentionsIndicatorBottom-BXS58x, .unreadMentionsIndicatorTop-gA6RCh {
    margin: 0 auto;
}

.guildSeparator-33mFX6 {
    background: hsla(0,0%,100%,.1);
    height: 0.5px;
}

.theme-dark .children-19S4PO:after {
    background: -webkit-gradient(linear,left top,right top,from(rgba(54,57,63,0)),to(#36393f));
    background: transparent;
    border-right: transparent;
}

.theme-dark .searchBar-3dMhjb {
    background-color: rgba(255,255,255,.15);
    color: #b9bbbe;
}

.platform-win .base-3dtUhz {
    border-radius: 0;
}

.theme-dark .wrapper-1ucjTd:hover .content-3at_AU, .theme-light .wrapper-1ucjTd:hover .content-3at_AU {
    background-color: rgba(255,255,255,.10);
}

.theme-dark .unread-3zKkbm, .theme-light .unread-3zKkbm {
    background-color: var(--main-color);
    opacity: .7;
}

.theme-dark .wrapper-1ucjTd:active .content-3at_AU, .theme-light .wrapper-1ucjTd:active .content-3at_AU {
    background-color: rgba(255,255,255,.2);
}

.wrapper-CU3qI5{
    color: var(--main-color);
}

.theme-dark .button-OhfaWu, .theme-light .button-OhfaWu {
    background-color: #2f3136;
    background-image: var(--friends-icon);
    color: #fff;
}

.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: rgba(255,255,255,.15);
}

.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {
    background: rgba(0,0,0,0.5) url(/assets/8fdb69b….svg) no-repeat center 35px;
}

.theme-dark .side-8zPYf6 .themed-OHr7kt.item-PXvHYJ:hover, .theme-dark .topPill-30KHOu .themed-OHr7kt.item-PXvHYJ:hover {
    background-color: rgba(255,255,255,.15);
}   

.theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .side-8zPYf6 .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ, .theme-dark .topPill-30KHOu .themed-OHr7kt.selected-3s45Ha.item-PXvHYJ:hover {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .searchBox-3Y2Vi7 {
    background-color: rgba(255,255,255,.15);
}

.darkTheme-3uETC4.container-2XeR5Z {
    background-color: rgba(255,255,255 ,.15);
}

.theme-dark .akaBadge-1M-1Gw {
    background-color: rgba(255,255,255 ,.15);
    border-radius: 4px;
}

.theme-dark .container-1r6BKw {
    background: rgba(255,255,255,0);
}

.theme-dark .container-cMG81i {
    background-color: rgba(255,255,255,.15);
}

.unread-1xRYoj {
    background-color: rgba(255,255,255,.35);
}

.wrapper-CU3qI5:hover {
    color: var(--main-color);
}

.theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg {
    color: var(--unread-text-color);
}

.theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA:hover .name-3_Dsmg {
    color: var(--unread-text-color);
}

.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg {
    color: var(--selected-text-voice-color);
}

.theme-dark .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .listDefault-2y5Z9D .clickable-23RaYz:active .content-3xS9Lh {
    background-color: rgba(255,255,255,.25);
}

.theme-dark .listDefault-2y5Z9D .clickable-23RaYz.selected-3TGCSZ .content-3xS9Lh {
    background-color: rgba(255,255,255,.15);
}

.status-2s6iDp {
    bottom: -2px;
}

.theme-dark .iconBadge-2wi9r4 {
    background-color: rgba(255,255,255,.15);
}

.theme-light .wrapper-2ZbzR9 {
    background-color: rgba(33,33,33,.4);
}
.theme-dark .wrapper-2ZbzR9 {
    background-color: rgba(33,33,33,.4);
}

.theme-dark .modal-3HD5ck {
    background-color: transparent;
}

.theme-dark .actionBody-1qj65C, .theme-light .actionBody-1qj65C {
    color: #333;
}

.channelNotices-41mJbj .channelNotice-1-XFjC.premiumGuildSubscription-3oKecP {
    background: rgba(255,255,255,.15) url(/assets/c88e15a….svg) no-repeat center 23px;
    padding: 116px 20px 20px;
}

.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u:active {
    background-color: rgba(255,255,255,.25);
}

.theme-dark .tierNoneContainer-3hhK3h {
    background-color: rgba(255,255,255,.15);
}

.theme-dark .noChannel-Z1DQK7 {
    background: var(--main-transparency);
}


/* Guild listing styles */

.wrapper-3NnKdC .scroller-1Bvpku > div.listItem-GuPuDH:nth-child(1) {
    width: 100% !important;
    margin-bottom: 8px;
    margin-left: 2px;
}

.wrapper-3NnKdC .scroller-1Bvpku > div.listItem-GuPuDH:nth-child(1) .item-2hkk8m {
    opacity: 0 !important;
}

.wrapper-3NnKdC .scroller-1Bvpku > div:not(.listItem-GuPuDH) > div {
    width: 50px;
    margin-left: 9px;
}

.listItem-GuPuDH {
    width: auto;
    margin-left: 0px;
}
.wrapper-sa6paO {
    height: 54px;
    width: 54px;
}
.item-2hkk8m {
    animation: var(--unread-server-animation) 3s linear infinite;
    border: 2px solid var(--main-color);
    background: transparent;
    border-radius: 100%;
    display: block;
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    top: -2px;
    right: 3px !important;
    width: 48px;
    height: 48px !important;
    /* remove the left to right display transformation */
    transform: none !important;
}
.pill-31IEus {
    left: -2px;
    position: absolute;
    top: -2px;
}
.wrapper-3NnKdC .scroller-1Bvpku .guildSeparator-33mFX6 {
    position: relative;
    margin-top: 10px;
    width: 193px;
    display: block;
    margin: 10px auto 5px;
    margin-left: 24px;
}
.listItem-GuPuDH.da-listItem:hover .item-2hkk8m {
    border-radius: 18px;
    border: none;
    transition: none !important;
}

.typeMacOS-3EmCyP {
    background: var(--main-transparency);
}

.wrapper-21YSNc {
    position: relative;
    width: auto;
}

.theme-dark .member-3W1lQa:hover {
    background-color: rgba(79,84,92,0.4);
    color: #fff;
}

.app-2rEoOp {
    background-color: var(--background-image);
}

.platform-win .sidebar-2K8pFh {
    background-color: var(--main-transparency);
}

.privateChannels-1nO12o {
    background-color: rgba(0,0,0,0);
}

.panels-j1Uci_ {
    background-color: rgba(0,0,0,0);
}

.name-IbjUBS {
    color: var(--main-color);
}

.wrapper-CU3qI5.muted-1NRuDm:hover .icon-WnO6o2, .wrapper-CU3qI5.muted-1NRuDm:hover .name-IbjUBS, .wrapper-CU3qI5:hover .icon-WnO6o2, .wrapper-CU3qI5:hover .name-IbjUBS {
    color: var(--main-color);
    filter: brightness(150%);
}

.sidebar-2K8pFh {
    border-radius: 0 !important;
    background-color: var(--main-transparency);
}

.typeMacOS-3EmCyP {
    position: absolute;
    width: 72px;
    padding-right: 170px;
}

.scroller-2FKFPG > .listItem-GuPuDH:first-child > .listItemWrapper-3X98Pc > .wrapper-25eVIn > svg {
    opacity: 0;
}

.scroller-1Bvpku {
    background-color: transparent;
}

.messages-3amgkR {
    background-color: transparent;
}

.scroller-1JbKMe {
    background-color: transparent;
}

.scroller-1IIF0A {
    background-color: transparent;
}

.friendsTable-133bsv .friendsTableBody-1ZhKif {
    background-color: transparent;
}

.sidebarRegionScroller-3MXcoP {
    background: transparent;
}

.contentRegionScroller-26nc1e {
    background-color: transparent;
}

.theme-dark .bodyInner-245q0L, .theme-dark .footer-1fjuF6 {
    background-color: transparent;
}

.scroller-305q3I {
    background-color: transparent;
}

.bg-h5JY_x {
    background-color: transparent;
}

.folder-21wGz3 {
    margin-left: -1px;
    border-radius: 100%;
}

.expandedGuilds-1JMD4M .listItem-GuPuDH .pill-31IEus {
    left: -5px;
    position: absolute;
    top: -2px;
}

.expandedGuilds-1JMD4M, .guildIcon-GuAC7C {
    overflow: visible;
}

.pill-1m5BUr {
    display: none;
}

.item-2hkk8m:not([style *= "height: 8px"]) {
    border-color: transparent;
    background-color: transparent;
}

.clickable-1JJAn8.container-2Pjhx-:hover {
    background-color: var(--hover-list-bg-color);
}

.dividerEnabled-2TTlcf {
    border-bottom-color: var(--border-lines-color);
}

.modeMuted-3osy7j:hover .name-3_Dsmg, .wrapper-1ucjTd:hover .name-3_Dsmg {
    color: var(--channel-hover-text-color, var(--text-hover-color));
}

.embedFull-2tM8-- {
    border-left: 4px solid var(--main-color);
    background: rgba(255,255,255,0.04);
}

.theme-dark .uploadModal-2ifh8j {
    background-color: var(--main-transparency);
}

.uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx .inner-zqa7da {
	background-color: rgba(255,255,255,0.05);
}

.theme-dark .uploadModal-2ifh8j {
    box-shadow: 0 0 0 1px var(--main-color);
}

.theme-dark .footer-3mqk7D {
    box-shadow: inset 0 1px 0 var(--main-color);
}

.theme-dark .inner-zqa7da {
    background-color: transparent;
}

.scrollableContainer-38zsVD {
    background-color: rgba(0,0,0,0.6);
}

.scrollableContainer-2NUZem {
    background-color: rgba(0,0,0,0.6);
}

.container-3Mxszk {
	background-color: var(--main-transparency);
}

.theme-dark .container-1D34oG {
    background-color: var(--main-transparency);
}

.peopleList-3c4jOR {
    background-color: transparent;
}

.nowPlayingColumn-2sl4cE {
    background: transparent;
}

.actionButton-uPB8Fs {
    background-color: rgba(0,0,0,0.0);
}

.wrapper-3D2qGf {
    background-color: rgba(0,0,0,0.4);
}

.theme-dark .inset-3sAvek {
    background-color: transparent;
}

.scroller-9moviB {
    background-color: transparent;
}

.scroller-2XE8rp {
    background-color: transparent;
}

.channelTextArea-rNsIhG {
    background-color: transparent;
}

.wrapper-2aW0bm {
	background-color: rgba(0,0,0,0.4);
}

.contextMenu-HLZMGh {
	background-color: rgba(0,0,0,0.97);
}

.form-2fGMdU:before {
	background: none;
}

.content-1o0f9g {
	background: none;
}

.embedFull-2tM8-- {
    border-left: 4px solid var(--main-color);
    background: rgba(0,0,0,0.4);
}
.theme-dark .markup-2BOw-j code.inline {
	background: rgba(0,0,0,0.4);
}

.theme-dark .markup-2BOw-j code {
    background: rgba(0,0,0,0.5);
}

.markup-2BOw-j code {
	border:none;
}

.wrapper-3NnKdC .scroller-1Bvpku > div[aria-label="Servers"] {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.wrapper-3NnKdC .scroller-1Bvpku > div {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
    display: flex;
    justify-content: center;
    width: 100%;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-3X98Pc .wrapper-25eVIn {
    background: var(--friends-icon) !important;
    background-position: var(--friends-icon-position) !important;
    background-repeat: no-repeat !important;
    background-size: var(--friends-icon-zoom) !important;
    border-radius: 100%;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-3X98Pc .wrapper-25eVIn svg {
    opacity: 0;
}

.expandedFolderBackground-2sPsd- {
    left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
    right: 3px;
}

.wrapper-3NnKdC .scroller-1Bvpku > div[role="tree"] {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
}

.wrapper-KXM2i0 {
    background-color: transparent;
}

.wrapper-2qzCYF {
    background-color: transparent;
}

.wrapper-2qzCYF.minimum-28Z35l {
    background-color: transparent
}

.styleFixed-sX-yHV {
    background: rgba(6, 6, 6, 0.9);
}

.searchResultsWrap-3-pOjs {
    background-color: transparent;
}

.channelName-wvgELL {
    background: transparent;
}

.searchResult-2N9RV4:before {
    background-image: none;
}

.searchResultMessage-30QnSN.hit-1CXhXT {
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: rgba(0,0,0,0.4);
    border: none;
}

.searchResult-2N9RV4:after {
    background-image: none;
}

.contentWrapper-2txmjs {
    background-color: rgba(0,0,0,0.6);
}

.navButtonActive-3RPAJy {
    background-color: transparent;
}

.wrapper-2N7X54 {
    background-color: transparent;
}

.unicodeShortcut-15J8Ck {
    background-color: rgba(0,0,0,0.8);
}

.inspector-sdLnLS {
    background-color: rgba(0,0,0,0.7);
}

.categoryWrapper-UZ5YNj {
    background-color: rgba(0,0,0,0.9);
}

.emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background-color: rgba(25, 25, 25, 0.75);
}

.categoryItemDefaultCategorySelected-_HCKoz, .categoryItemDefaultCategorySelected-_HCKoz:hover {
    background-color: rgba(25, 25, 25, 0.75);
}

.container-2XeR5Z {
    background-color: rgba(20,20,20,0.8);
}

.attachment-33OFj0 {
    border-color: transparent;
    background-color: rgba(0,0,0,0.6);
}

.contentWrapper-SvZHNd {
    background-color: rgba(0,0,0,0.6);
}

.wrapper-1-Fsb8 {
    background-color: rgba(0,0,0,0.6);
}

.wrapper-2Gsate {
    background-color: transparent;
}

.container-enaOkj {
    background-color: rgba(0,0,0,0.8);
}

.header-ykumBX {
    background-color: rgba(0,0,0,0.4);
}

.channelHeader-3Gd2xq {
    background-color: rgba(255,255,255,.07);
}

.messages-3G3erD {
    background-color: rgba(255,255,255,0.05);
    border-radius: 0px;
}

.theme-dark .form-2fGMdU:before {
    background: transparent;
}

.emojiPicker-3PwZFl {
    background-color: rgba(0,0,0,0.6);
}

.folder-21wGz3, .folderIconWrapper-226oVY {
    border-radius: 100%;
}

.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}

.searchResultMessage-1fxgXh.hit-1fVM9e {
    box-shadow: none;
    background-color: transparent;
    border: none;
}

.searchResult-9tQ1uo:before {
    background-image: none;
}

.searchResult-9tQ1uo:after {
    background-image: none;
}

.channelName-1JRO3C {
    background: transparent;
}

.theme-dark .wrapperAudio-1jDe0Q {
    border: none;
    background-color: rgba(0,0,0,.4);
}

.wrapper-3vR61M {
    background-color: transparent;
}

.wrapper-1F5TKx {
    background-color: transparent;
}

.auto-Ge5KZx::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
}

.auto-Ge5KZx::-webkit-scrollbar-track {
    background-color: transparent;
}

.textarea-2r0oV8:focus {
    background-color: transparent;
}

.theme-dark .wrapper-1-Fsb8 {
    background-color: rgba(0,0,0,0.6);
}

.inspector-S2gM3e {
    background-color: transparent;
}

.tree-3tCaw8 {
    outline: none;
}

.container-3w7J-x {
    background-color: transparent;
}

.name-3l27Hl.container-2ax-kl {
    color: var(--main-color);
}

.modeSelected-346R90 .name-23GUGE, .modeConnected-3IsKId .name-23GUGE {
    color: var(--selected-text-voice-color);
}

.modeMuted-onO3r-:hover .name-23GUGE, .wrapper-2jXpOf:hover .name-23GUGE {
    color: var(--channel-hover-text-color, var(--text-hover-color));
}

.modeUnread-1qO3K1 .name-23GUGE {
    color: var(--unread-text-color);
}

.unread-2lAfLh {
    background-color: var(--unread-text-color);
}

.background-1QDuV2 {
    background-color: transparent;
}

.fieldList-21DyL8 {
    background-color: transparent;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: rgba(255, 255, 255, 0.1);
}

.wrapper-PY0fhH.muted-2JBAyG:hover .icon-2yIBmh, .wrapper-PY0fhH.muted-2JBAyG:hover .name-3l27Hl, .wrapper-PY0fhH:hover .icon-2yIBmh, .wrapper-PY0fhH:hover .name-3l27Hl {
    color: var(--main-color);
}

.wrapper-sa6paO {
    overflow: visible;
}

.expandedFolderBackground-1cujaW {
    left: 1px;
}

.wrapper-3NnKdC
  .scroller-1Bvpku
  > div.listItem-GuPuDH:nth-child(1)
  .item-2hkk8m {
  opacity: 0 !important;
}

.wrapper-3NnKdC .scroller-1Bvpku div .listItem-GuPuDH .pill-1Z5PKm .item-2hkk8m {
	opacity: 0 !important;
}

.tree-2wKJdG:focus {
	outline: none;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-1BJsBx {
    background: var(--friends-icon) !important;
    background-position: var(--friends-icon-position) !important;
    background-repeat: no-repeat !important;
    background-size: var(--friends-icon-zoom) !important;
    border-radius: 100%;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-1BJsBx .childWrapper-anI2G9 {
	background-color: transparent;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH .listItemWrapper-KhRmzM .wrapper-1BJsBx svg {
    opacity: 0;
}

.folderIconWrapper-1_bOZe {
    border-radius: 100%;
}
.folder-1hbNCn {
    background-color: transparent;
}

.reaction-1hd86g {
    background: rgba(0,0,0,0);
}

.reaction-1hd86g:hover {
    background-color: rgba(255,255,255,0.1);
    border-color: hsla(0,0%,100%,.2);
}

.container-lRFx4q {
    background-color: transparent;
}

.section-2gLsgF {
    background-color: transparent;
}

.theme-dark .outer-1AjyKL.active-1xchHY, .theme-dark .outer-1AjyKL.interactive-3B9GmY:hover {
    background-color: rgba(0,0,0,0.8);
}

.headerNormal-1l1Znk {
    background-color: transparent !important;
}

.profileBanner-33-uE1 {
    background-color: transparent !important;
}

.headerTop-2y3V6H {
    background-color: transparent !important;
}