//META{"name":"NotAnotherAnimeThemeDCSL","description":"Anime theme made by puckzxz#2080 and Quake#1470, make sure you're up to date at https://goo.gl/jfR9BS , Get support here https://discord.gg/FdZhbjY","author":"puckzxz#2080 & Quake#1470","version":"2.0.0"}*//{}
@import url(https://8xs4qxklp8.execute-api.us-east-2.amazonaws.com/release/gorawgit?giturl=/puckzxz/NotAnotherAnimeTheme/master/css/dcsl.css);


/* To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ */


/* Any images you use MUST end with .jpg or .png or any other image extension */
/* This is NOT a valid link, https://imgur.com/a/ycjL2 */
/* THIS IS A VALID LINK https://i.imgur.com/rCqnrQ7.jpg */

/* If you find an image I would STRONGLY recommend rehosting the image on imgur https://imgur.com/upload */


:root {
    /* Edit this to change your background */
    --background-image: url("https://i.imgur.com/j1Z6HVc.jpg"); /* format is url("IMAGE URL HERE") */
    /* Edit this to change your friends icon picture */
    --friends-icon: url("https://i.imgur.com/63g6Em8.jpg"); /* format is url("IMAGE URL HERE") */
    /* Change the main color */
    --main-color: rgb(67, 181, 129); /* default: rgb(67, 181, 129); */
    /* Chande global transparency */
    --main-transparency: rgba(0, 0, 0, 0.8); /* default: rgba(0, 0, 0, 0.8); */ 
    /* Change the unread server animation. Replace it with "none" in order to remove any animations */
    --unread-server-animation: rainbow 3s linear infinite; /* Other animations available:  */

    --border-lines-color: hsla(0,0%,100%,.1); /* default: hsla(0,0%,100%,.1);*/

    /* --scroll-bar-color: ;*/

    --font-size: 0.9375rem;

    --font-weight: rgba(255, 255, 255, 0.8);
    /* Edit this to change the color of a selected text or voice join */
    --selected-text-voice-color: #f6f6f7 !important;
    --text-hover-color: #b9bbbe !important;
    --voice-hover-color: #f6f6f7 !important;
    --unread-text-color: #dcddde !important;   


}


/* ADD CODE BELOW TO CUSTOMIZE THE THEME */


