/**
* @name NotAnotherAnimeThemeTCSL
* @author puckzxz#2080
* @version 2.2
* @description An easily customizable and automatically updating theme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
*/
@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/css/tcsl.css);


/* Import any custom fonts here */



/* To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ */

/* Any images you use MUST end with .jpg or .png or any other image extension */
/* This is NOT a valid link, https://imgur.com/a/ycjL2 */
/* THIS IS A VALID LINK https://i.imgur.com/rCqnrQ7.jpg */

/* If you find an image I would STRONGLY recommend rehosting the image on imgur https://imgur.com/upload */

:root {
    /*
    Change the theme background
    Default: https://i.imgur.com/j1Z6HVc.jpg
    */
    --background-image: url(https://i.imgur.com/j1Z6HVc.jpg);

    /*
    Change your friends icon image
    Default: https://i.imgur.com/63g6Em8.jpg
    */
    --friends-icon: url(https://i.imgur.com/63g6Em8.jpg);

    /*
    Change your friends icon iamge position
    Default: center center
    */
    --friends-icon-position: center center;

    /*
    Change your friends icon image zoom
    Default: 100% 
    */
    --friends-icon-zoom: 100%;

    /*
    Change the main theme color
    Default: rgb(67, 181, 129)
    */
    --main-color: rgb(67, 181, 129);

    /*
    Change global transparency
    You can use this to make your background image lighter or darker
    Default: rgba(0, 0, 0, 0.8)
    */
    --main-transparency: rgba(0, 0, 0, 0.8);

    /*
    Change the unread server animation.
    Replace it with "none" in order to remove any animations and use the main color instead
    Default: rainbow
    */
    --unread-server-animation: rainbow;

    /*
    Change background color when you hover members or friends
    Default: rgba(255, 255, 255, .15)
    */
    --hover-list-bg-color: rgba(255, 255, 255, .15);

    /*
    Change the color of the borders between messages
    Default: hsla(0,0%,100%,.1)
    */
    --border-lines-color: hsla(0,0%,100%,.1);

    /*
    Change the scroll bar color
    Default: rgba(255,255,255, .15)
    */
    --scroll-bar-color: rgba(255,255,255, .15);

    /*
    Change chat messages font size, you can use any unit: px, em, rem, %
    Default: 16px
    */
    --font-size: 16px;

    /*
    Change the text color of a selected text channel or joined voice channel
    Default: #f6f6f7
    */
    --selected-text-voice-color: #f6f6f7;

    /*
    Change the text color of a hovered text or voice channel
    Default: rgba(255, 255, 255, 0.75)
    */
    --channel-hover-text-color: rgba(255, 255, 255, 0.75);


    /*
    Change the text color of an unread text channel
    Default: #dcddde
    */
    --unread-text-color: #dcddde;


    /*
    Change the transparency of the user popout when clicking a member
    Default: rgba(0, 0, 0, 0.8)
    */
    --user-popup-background: rgba(0, 0, 0, 0.8);
}

/* ADD ANY CUSTOM CODE BELOW */
