/**
* @name NotAnotherAnimeTheme
* @author puckzxz#2080
* @version 3.2
* @description An easily customizable and automatically updating theme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
* @updateUrl https://raw.githubusercontent.com/puckzxz/NotAnotherAnimeTheme/master/NotAnotherAnimeTheme.theme.css
*/

@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css);

/*
  To make editing this theme easier I recommend using Notepad++
  you can download it for free here https://notepad-plus-plus.org/download/
*/

/* Any images you use MUST end with .jpg or .png or any other image extension */

:root {
  /*
    Theme Background
  */
  --theme-background-image: url(https://i.imgur.com/j1Z6HVc.jpg);

  /*
    Main Theme Color
  */
  --main-theme-color: rgb(67, 181, 129);

  /*
    Main Theme Transparency

    This is a color that is placed over your background image.
    It's best to keep this as black, as it will darken the BG image
    and make messages easier to read.

    Change the 4th value higher for a darker image, or lower for lighter.
  */
  --theme-transparency: rgba(0, 0, 0, 0.8);

  /*
    Server Listing Width
    Single Column:  72px
    Double Column:  126px
    Triple Column:  184px
    Quad Column:    242px
  */
  --server-listing-width: 126px;

  /*
    Home Icon Image

    Takes the place of the Discord icon in the top left.
  */
  --home-icon-image: url(https://i.imgur.com/63g6Em8.jpg);

  /*
    Change your home icon image position

    You can change it to something like "cover" if the
    home icon is misaligned or doesn't fit.
  */
  --home-icon-image-position: center center;

  /*
    Change your home icon image zoom
  */
  --home-icon-image-zoom: 100%;

  /*
    Font Size
  */
  --font-size: 100%;

  /*
    Mention colors
  */
  --mention-color: rgba(250, 166, 26, 0.05);
  --mention-sider: rgba(250, 166, 26, 1);
  --mention-hover-color: rgba(250, 166, 26, 0.08);

  /*
    Server category hover color
  */
  --category-hover-color: rgb(60, 202, 138);

  /*
    Change the unread server animation.
    Replace it with "none" in order to remove any animations and use the main color instead
  */
  --unread-server-animation: rainbow;

  /*
    Video / Screen share buttons
  */
  --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
  --video-screen-button-foreground-color: white;
  --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
  --video-screen-button-foreground-hovor-color: white;

  /*
    Role Title Color
  */
  --member-listing-role-color: var(--main-theme-color);

  /*
    Small User Popout

    The window that appears when you click on someone in the members list.
  */
  --small-user-popout-background-image: var(--theme-background-image);
  --small-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --small-user-popout-background-image-position: cover;

  /*
    Big User Popout

    The window that appears when you right click a user and select "Profile"
  */
  --big-user-popout-background-image: var(--theme-background-image);
  --big-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --big-user-popout-background-image-position: cover;

  /*
    Code Markup
  */
  --code-markup-background-color: rgba(0, 0, 0, 0.6);
  --code-markup-border: 1px solid transparent;

  /*
    Message Box Transparency
  */
  --message-box-transparency: rgba(0, 0, 0, 0.6);

  /*
    Embed Background Transparency/Color
  */
  --embed-background-transparency: rgba(0, 0, 0, 0.6);

  /*
    Message Hover Buttons
  */
  --message-hover-buttons-background: rgba(200, 200, 200, 0.1);

  /*
    Context Menu Transparency/Color

    The menu that appears when right-clicking
  */
  --context-menu-transparency: rgba(15, 15, 15, 0.8);

  /*
    Add Server / Discovery Icon
  */
  --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
  --add-discover-icon-color: #43b581;

  /*
    Voice Channel Limit Number Color

    The small bubble over a voice channel with a maximum number of users
  */
  --channel-limit-count-color: var(--channels-default);
  --channel-limit-background-left: rgba(200, 200, 200, 0.1);
  --channel-limit-background-right: rgba(200, 200, 200, 0.2);

  /*
    Scrollbar Colors
  */
  --scrollbar-color: rgba(200, 200, 200, 0.2);

  /*
    Unread Message Divider
  */
  --unread-message-divider-color: #f04747;
  --unread-message-divider-font-color: #fff;

  /*
    New Messages Bar Color
  */
  --new-messages-bar-background-color: #7289da;
  --new-messages-bar-font-color: #fff;

  /*
    Emoji Menu
  */
  --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
  --emoji-menu-sider-background-color: rgba(0, 0, 0, 0);
  --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
  --emoji-menu-bottom-bar-background-color: black;
  --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);

  /*
    Message Search
  */
  --message-search-menu-background-color: rgba(0, 0, 0, 0.8);
  --message-search-container-background-color: rgba(0, 0, 0, 0.6);
  --message-search-result-background-color: rgba(200, 200, 200, 0.05);

  /*
    Channel colors
  */
  --text-voice-channel-color: rgb(142, 146, 151);
  --text-voice-channel-hover-color: #dcddde;
  --text-voice-channel-selected-text-color: #fff;
  --unread-text-channel-color: #fff;
  --unread-text-channel-bubble-color: var(--main-theme-color);

  /*
    Folders
  */
  --folder-background-color: #2f3136;
  --expanded-folder-background-color: transparent;

  /*
    Reactions
  */
  --reaction-emoji-background-color: rgba(0, 0, 0, 0);
  --reaction-emoji-border-color: 1px solid transparent;
  --reaction-emoji-hover-background-color: rgba(255, 255, 255, 0.1);
  --reaction-emoji-hover-border-color: rgba(255, 255, 255, 0.2);
}


/*INSERT CUSTOM CODE BELOW*/

/*
 * Custom font

 * Remove the comment below to enable a custom font
 * This will add a font to your *entire* Discord

 * You can change the link to the font in the @import
 * to get your own. See https://github.com/puckzxz/NotAnotherAnimeTheme/issues/184#issuecomment-1008341747
 * for more details.
**/

/*
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
* {font-family: 'Raleway', sans-serif;}
*/