/**
* @name AnimePack FireForce 1
* @author puckzxz#2080
* @version 3.2
* @description A custom theme made by WubzyGD#8766's theme generator at https://wubzy.xyz/util/theme based on Puckzxz's NotAnotherAnimeTheme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
* @updateUrl https://raw.githubusercontent.com/puckzxz/NotAnotherAnimeTheme/master/NotAnotherAnimeTheme.theme.css
*/

@import url(https://puckzxz.github.io/NotAnotherAnimeTheme/build/v3/naat.v3.css);

:root {
  --theme-background-image: url(https://cdn.discordapp.com/attachments/827692054641508382/875043401979011112/image0.jpg);
  --main-theme-color: #d93631;
  --theme-transparency: rgba(0, 0, 0, 0.7);
  --home-icon-image: url(https://media.discordapp.net/attachments/827737885112270859/868114178127306782/image1.png?width=731&height=676);
  --home-icon-image-position: center center;
  --home-icon-image-zoom: 100%;

  /*
    Server Listing Width
    Single Column:  72px
    Double Column:  126px
    Triple Column:  184px
    Quad Column:    242px
  */
  --server-listing-width: 72px;

  --font-size: 100%;
  --mention-color: #d936314b;
  --mention-sider: #d936317f;
  --mention-hover-color: #d936315f;

  --category-hover-color: #d936315f;

  --unread-server-animation: rainbow;

  --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
  --video-screen-button-foreground-color: white;
  --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
  --video-screen-button-foreground-hovor-color: white;

  --member-listing-role-color: var(--main-theme-color);

  --small-user-popout-background-image: url(https://cdn.discordapp.com/attachments/827692054641508382/875043401979011112/image0.jpg);
  --small-user-popout-background-transparency: rgba(0,0,0, 0.7);
  --small-user-popout-background-image-position: center;

  --big-user-popout-background-image: url(https://cdn.discordapp.com/attachments/827692054641508382/875043401979011112/image0.jpg);
  --big-user-popout-background-transparency: rgba(0,0,0, 0.7);
  --big-user-popout-background-image-position: center;

  --code-markup-background-color: rgba(0, 0, 0, 0.6);
  --code-markup-border: 1px solid transparent;

  --message-box-transparency: rgba(0, 0, 0, 0.6);

  --embed-background-transparency: rgba(0, 0, 0, 0.6);

  --message-hover-buttons-background: rgba(200, 200, 200, 0.1);

  --context-menu-transparency: rgba(15, 15, 15, 0.8);

  --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
  --add-discover-icon-color: #43b581;

  --channel-limit-count-color: var(--channels-default);
  --channel-limit-background-left: rgba(200, 200, 200, 0.1);
  --channel-limit-background-right: rgba(200, 200, 200, 0.2);

  --scrollbar-color: #d9363189;

  --unread-message-divider-color: #f04747;
  --unread-message-divider-font-color: #fff;

  --new-messages-bar-background-color: var(--main-theme-color);
  --new-messages-bar-font-color: #fff;

  --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
  --emoji-menu-sider-background-color: rgba(0, 0, 0, 0);
  --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
  --emoji-menu-bottom-bar-background-color: black;
  --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);

  --message-search-menu-background-color: rgba(0, 0, 0, 0.8);
  --message-search-container-background-color: rgba(0, 0, 0, 0.6);
  --message-search-result-background-color: rgba(200, 200, 200, 0.05);

  --text-voice-channel-color: rgb(142, 146, 151);
  --text-voice-channel-hover-color: #dcddde;
  --text-voice-channel-selected-text-color: #fff;
  --unread-text-channel-color: #d93631;
  --unread-text-channel-bubble-color: #d93631;

  --folder-background-color: #2f3136;
  --expanded-folder-background-color: transparent;

  --reaction-emoji-background-color: rgba(0, 0, 0, 0);
  --reaction-emoji-border-color: 1px solid transparent;
  --reaction-emoji-hover-background-color: rgba(255, 255, 255, 0.1);
  --reaction-emoji-hover-border-color: rgba(255, 255, 255, 0.2);
}

.root-3QyAh1 {background-size: cover;}
.userPopout-xaxa6l {background-size: cover;}

.channelTabs-tabContainer, .channelTabs-container {background: 0 0!important; background-color: initial !important;}