/**
* @name NotAnotherAnimeTheme
* @author puckzxz#2080
* @version 3.2
* @description An easily customizable and automatically updating theme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
*/

.appMount_ea7e65 {
  background-image: var(--theme-background-image) !important;
  background-size: cover !important;
}

.app_a01fb1 {
  background-color: transparent;
}

.bg_d4b6c5 {
  background-color: var(--theme-transparency);
}

.tutorialContainer-2sGCg9
  .wrapper_c5f96a
  .childWrapper_a6ce15
  .homeIcon-FuNwkv {
  visibility: hidden;
}

.tutorialContainer-2sGCg9
  .listItem-GuPuDH
  .listItemWrapper-KhRmzM
  .wrapper__8436d
  .childWrapper_a6ce15 {
  background-color: transparent;
}

.homeIcon-tEMBK1 {
  visibility: hidden;
}

.tutorialContainer-2sGCg9
  .listItem-GuPuDH
  .listItemWrapper-KhRmzM
  .wrapper__8436d
  svg {
  opacity: 0;
}

.titleBar_a934d8 {
  background-color: transparent;
}

.app__00c92 {
  background-color: transparent;
}

.bg__7adbf {
  background-color: var(--theme-transparency);
}

.wrapper_fea3ef,
.scroller_fea3ef {
  background-color: transparent;
}

/* FRIENDS SIDEBAR */
.sidebar_a4d4d9 {
  background: transparent;
}

.privateChannels_f0963d {
  background-color: transparent;
}

.scroller_c47fa9 {
  background-color: transparent;
}

.searchBar_f0963d .searchBarComponent_f0963d {
  background-color: transparent;
}

/* USER INFO */
.panels_a4d4d9 {
  background-color: transparent;
}

.theme-dark .container_c2739c {
  background-color: transparent;
}

.container_e44302.themed_e44302 {
  background: transparent;
}

.nowPlayingColumn_c2739c {
  background: transparent;
}

.headerNormal-1l1Znk {
  background-color: var(--small-user-popout-background-transparency);
}

.headerTop-2y3V6H {
  background-color: transparent;
  border-bottom: none;
}

.avatar-22FtUu {
  border: none;
  background-color: transparent;
}

.input_df4dd0 {
  background-color: transparent;
}

.avatarHint-1E3LMl {
  top: 0 !important;
  left: 0 !important;
}

/* CHAT SIDER */
.container_ee69e0 {
  background-color: transparent;
}

/* CHAT BODY */
.chat_a7d72e {
  background: transparent;
}

.chat_a7d72e {
  background: transparent;
}

/* CHAT MEMBERS */
.members_cbd271,
.members_cbd271 > div {
  background-color: transparent;
}

.chatContent_a7d72e {
  background: transparent;
}

.container_cbd271 {
  background: transparent;
}

.members_cbd271 {
  background: transparent;
}

.member_cbd271 {
  background: transparent;
}

.theme-dark .container_b2ca13 {
  background: transparent;
}

.container_adcaac {
  background: transparent;
}

.button_adcaac.buttonColor_adcaac,
.button_adcaac .buttonColor_adcaac {
  background-color: var(--video-screen-button-background-color);
}

.button_adcaac.buttonColor_adcaac:hover,
.button_adcaac .buttonColor_adcaac:hover {
  background-color: var(--video-screen-button-background-hovor-color);
}

.channelTextArea_a7d72e {
  background: transparent;
}

/* CHAT INPUT */
.channelTextArea_a7d72e {
  background-color: transparent;
}

.scrollableContainer_d0696b {
  background: none !important;
}

.scrollableContainer_d0696b {
  background-color: var(--message-box-transparency) !important;
}

.theme-dark .form_a7d72e:before {
  background: transparent;
}

/* SETTINGS */
.layer_e552e0 {
  background-color: transparent;
}

.standardSidebarView_c25c6d {
  background-color: transparent;
}

.sidebarRegionScroller_c25c6d {
  background-color: transparent;
}

.contentRegion_c25c6d {
  background-color: transparent;
}

.contentRegionScroller_c25c6d {
  background-color: transparent;
}

/* SETTINGS - PROFILE */
.background_b69b77 {
  background-color: transparent;
}

.fieldList_b69b77 {
  background-color: transparent;
}

/* CHAT SCROLLER */
.auto_c49869::-webkit-scrollbar-track {
  background-color: transparent;
}

/* SCROLL THUMB */
.auto_c49869::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

/* EMBEDS */
.embedFull_ad0b71 {
  border-left: 4px solid var(--main-theme-color);
  background: var(--embed-background-transparency);
}

/* DAY CONTAINER */
.content_fc5f50 {
  color: var(--main-theme-color);
  background: transparent;
}

/* ANNOYANCES */
.theme-dark .children_e44302:after {
  background: transparent;
}

.tree-3tCaw8 {
  outline: none;
}

/* #region columns */

/* COLUMNS */
.wrapper_fea3ef {
  width: var(--server-listing-width);
}

.scrollerWrap-1IAIlv {
  width: calc(var(--server-listing-width) + 6px);
}

.wrapper_fea3ef .scroller_fea3ef {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper_fea3ef .scroller_fea3ef > div:not(.listItem-GuPuDH) > div {
  width: 50px;
  margin-left: 10px;
}

.listItem-GuPuDH {
  width: auto;
  margin-left: 0px;
}

.wrapper_fea3ef .scroller_fea3ef > div.listItem-GuPuDH:nth-child(1) {
  width: 100% !important;
  margin-bottom: 8px;
  margin-left: 2px;
}

.wrapper_fd07a3 {
  height: 54px;
  width: 54px;
}

.pill-31IEus {
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper-21YSNc {
  position: relative;
  width: auto;
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.item_fd07a3 {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--main-theme-color);
  background: transparent;
  border-radius: 100%;
  display: block;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: -2px;
  right: 3px !important;
  width: 48px;
  height: 48px !important;
  transform: none !important;
}

.wrapper_fea3ef
  .scroller_fea3ef
  > div.listItem-GuPuDH:nth-child(1)
  .item_fd07a3 {
  opacity: 0 !important;
}

.item_fd07a3:not([style*="height: 8px"]) {
  border-color: transparent;
  background-color: initial;
}

.pill-1m5BUr {
  display: none;
}

.wrapper_fea3ef .scroller_fea3ef > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expandedFolderBackground-2sPsd- {
  left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  right: 5px;
}

/* #endregion */

/* VIDEO / SCREEN BUTTONS */
.button_adcaac.buttonColor_adcaac,
.button_adcaac .buttonColor_adcaac {
  background-color: var(--video-screen-button-background-color);
  color: var(--video-screen-button-foreground-color);
}

.button_adcaac.buttonColor_adcaac:hover,
.button_adcaac .buttonColor_adcaac:hover {
  background-color: var(--video-screen-button-background-hovor-color);
  color: var(--video-screen-button-foreground-hovor-color);
}

/* FRIEND ACTIVITY */
.wrapper_cd82a7 {
  background-color: rgba(200, 200, 200, 0.1);
}

.theme-dark .inset_c0f6a6 {
  background-color: rgba(200, 200, 200, 0.1);
}

.emptyCard_f02fcf {
  background: transparent;
}

/* FRIEND CALL/MESSAGE BUTTONS */
.actionButton_e01b91 {
  background-color: transparent;
}

/* Message Hover buttons */
.wrapper_ef319f {
  background-color: var(--message-hover-buttons-background);
}

/* Context menu */
.menu_d90b3d {
  background: var(--context-menu-transparency);
}

.circleIconButton_db6521 {
  color: var(--add-discover-icon-color);
  background-color: var(--add-discover-icon-transparency);
}

/* Loading chat placeholder */
.wrapper-22ayhK {
  background-color: transparent;
}

.wrapper_b211c6 {
  background-color: transparent;
}

/*Channel Limit*/
.wrapper_a5bc92 {
  color: var(--channel-limit-count-color);
}

/* Background left */
.users_a5bc92 {
  background-color: var(--channel-limit-background-left);
}

/* Background right */
.total_a5bc92:after {
  border-right-color: var(--channel-limit-background-left);
}

.total_a5bc92 {
  background-color: var(--channel-limit-background-right);
}

/* Info Modal */
.theme-dark .root_f9a4c9 {
  box-shadow: none;
}

.theme-dark .footer_ffaecb {
  background-color: transparent;
  box-shadow: none;
}

/* Channel category color */
.wrapper_a08117:not(.muted_a08117)
  .name_a08117.container-q97qHp
  .overflow_c74e70 {
  color: var(--main-theme-color);
}

.wrapper_a08117 {
  color: var(--main-theme-color);
}

.mainContent_a08117 .container_cc72c1 {
  color: var(--main-theme-color);
}

.wrapper_a08117.muted_a08117:hover .icon_a08117,
.wrapper_a08117.muted_a08117:hover .name_a08117,
.wrapper_a08117:hover .icon_a08117,
.wrapper_a08117:hover .name_a08117.container_cc72c1 {
  color: var(--category-hover-color);
}

/* Member Role title color */
.membersGroup_cbd271 {
  color: var(--member-listing-role-color);
}

/* Channel scroller */
.thin_eed6a8::-webkit-scrollbar-track {
  border-color: transparent;
  background-color: transparent;
  border: transparent;
}

.thin_eed6a8::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

/* Small user popout */
.userPopout-2j1gM4 {
  background-position: var(--small-user-popout-background-image-position);
  background-image: var(--small-user-popout-background-image);
}

.theme-dark .headerNormal-1mX3KY {
  background-color: var(--small-user-popout-background-transparency);
}

.headerPlaying-j0WQBV {
  background: var(--small-user-popout-background-transparency);
}

.headerTop-2cWpdB {
  background-color: initial;
  border-bottom: none;
}

.headerSpotify-zpWxgT {
  background: var(--small-user-popout-background-transparency);
}

.theme-dark .body-2wLx-E,
.theme-dark .footer-1N3bR3 {
  background-color: var(--small-user-popout-background-transparency);
  color: hsla(0, 0%, 100%, 0.8);
}

/* New small user popout */

.userPopout-3fydSP {
  background-position: var(--small-user-popout-background-image-position);
  background-image: var(--small-user-popout-background-image);
}

.userPopoutInnerWithBanner-wsoegj,
.userPopoutInnerNonPremium-3zrFkp {
  background: var(--small-user-popout-background-transparency);
}

/* For the background of the content, using darker color from message transparency variable */
.overlayBackground-arbZMT {
  background-color: var(--message-box-transparency);
}

/* For the background of the badges, same as above */
.profileBadges-31rDHI {
  background-color: var(--message-box-transparency);
}

/* For the background of the whole preview in user profile settings */
.profileCustomizationPreview-2-Y173 {
  background: rgba(0, 0, 0, 0.2);
}

.overlayBackground-H1K9ZY,
.profileBadges-1GBCVy {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Add note */
.textarea_dde0a8:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Big user popout */
.root-8LYsGj {
  background-position: var(--big-user-popout-background-image-position);
  background-image: var(--big-user-popout-background-image);
  background-color: transparent;
}

/* Default header */
.topSection-13QKHs {
  background-color: var(--big-user-popout-background-transparency);
}

.topSectionPlaying-1J5E4n {
  background: var(--big-user-popout-background-transparency);
}

.topSectionSpotify-1lI0-P {
  background: var(--big-user-popout-background-transparency);
}

.topSectionStreaming-1Tpf5X {
  background: var(--big-user-popout-background-transparency);
}

.body-1Ukv50 {
  background-color: var(--big-user-popout-background-transparency);
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
  border-top-color: transparent;
}

.tabBarContainer-sCZC4w {
  border-top: none;
}

/* Upload Dialog */
.theme-dark .uploadModal_f82cc7 {
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: none;
}

.theme-dark .footer_f82cc7 {
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: none;
}

/* Role Listing */
.scroller_e9196a {
  background-color: transparent;
}

/* Moderation Listings */
.item-2idW98 {
  background-color: transparent;
}

.item-2idW98[aria-checked="true"] {
  background-color: rgba(200, 200, 200, 0.1);
}

/* Uploaded file in chat */
.attachment_a4623d {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Mentions */
.mentioned_d5deea:before {
  background-color: var(--mention-sider);
}

.mentioned_d5deea {
  position: relative;
  background-color: var(--mention-color);
}

.message_d5deea.mentioned_d5deea.selected_d5deea,
.mouse-mode.full-motion .mentioned_d5deea:hover {
  background-color: var(--mention-hover-color);
}

/* Code Markup */
.markup_d6076c code {
  background: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

/* quote */
.blockquoteDivider_d6076c {
  background-color: var(--main-theme-color);
}

/* Library page */
.scroller_ad8f79 {
  background-color: transparent;
}

.header_f1629a {
  background-color: transparent;
  border-bottom: none;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-3b3xI6 {
  color: #f6f6f7;
  background-color: rgba(200, 200, 200, 0.2);
}

/* Nitro page */
.scroller__244e5 {
  background-color: transparent;
}

.applicationStore_cecc86 {
  background-color: transparent;
}

.wrapper_d880dc.minimum_d880dc {
  height: 240px;
  background-color: initial;
}

.content_a7d72e:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.theme-dark .perksModal-fSYqOq {
  background-color: initial;
}

/* Unread Message Divider */
.isUnread_fc5f50 {
  border-color: var(--unread-message-divider-color);
}

.unreadPill_fc5f50 {
  color: var(--unread-message-divider-font-color);
  background-color: var(--unread-message-divider-color);
}

.unreadPillCapStroke_fc5f50 {
  color: var(--unread-message-divider-color);
  fill: var(--unread-message-divider-color);
}

/* New Messages Bar */
.newMessagesBar_cf58b5 {
  background-color: var(--new-messages-bar-background-color);
}

.newMessagesBar_cf58b5 button {
  color: var(--new-messages-bar-font-color);
}

/* Emoji Menu */
.contentWrapper_af5dbb {
  background-color: var(--emoji-menu-background-color);
}

.wrapper_dc0b29 {
  background-color: var(--emoji-menu-sider-background-color);
}

.unicodeShortcut_dfa278 {
  background-color: var(--emoji-menu-bottom-bar-background-color);
}

.inspector_c3120f {
  background-color: var(--emoji-menu-bottom-bar-background-color);
}

.wrapper_e06857 {
  background-color: var(--emoji-menu-server-header-background-color);
}

.container_effbe2 {
  background-color: var(--emoji-menu-search-bar-background-color);
}

/* Search */
.theme-dark .container_eedf95 {
  background-color: var(--message-search-menu-background-color);
}

.theme-dark .elevationBorderHigh_ff8688 {
  box-shadow: none;
}

.theme-dark .option-2KkUJO.selected-rZcOL-:after {
  background: none;
}

.theme-dark .option-2KkUJO:after {
  background: none;
}

.searchResultsWrap_c2b47d {
  background-color: var(--message-search-container-background-color);
}

.searchHeader_b7c924 {
  background-color: transparent;
}

.channelName-3w2Y3c {
  background: transparent;
}

.searchResult_ddc613 {
  background-color: var(--message-search-result-background-color);
}

.wrapper_fd07a3 {
  overflow: visible;
}

.expandedFolderBackground-1cujaW {
  left: 1px;
}

.wrapper_fea3ef
  .scroller_fea3ef
  div
  .listItem-GuPuDH
  .pill_f36a5a
  .item_fd07a3 {
  opacity: 0 !important;
}

.tree_fea3ef:focus {
  outline: none;
}

/* unread text channel color */
.modeUnread_f74c03 .name_d8bfb3 {
  color: var(--unread-text-channel-color);
}

/* Unread text channel bubble */
.unread_d8bfb3 {
  background-color: var(--unread-text-channel-bubble-color);
}

/* channel hover */
.modeMuted_d8bfb3:hover .name_d8bfb3,
.wrapper_d8bfb3:hover .name_d8bfb3 {
  color: var(--text-voice-channel-hover-color);
}

/* Channel color */
.name_d8bfb3 {
  color: var(--text-voice-channel-color);
}

/* Folder colors */
.expandedFolderBackground_bc7085 {
  background-color: var(--expanded-folder-background-color);
}

.folder_bc7085 {
  background-color: var(--folder-background-color);
}

/* Friend activity */
.container_bf550a {
  background-color: transparent;
}

.section_cd82a7 {
  background-color: transparent;
}

.theme-dark .outer_c0f6a6.active_c0f6a6,
.theme-dark .outer_c0f6a6.interactive_c0f6a6:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.reaction_f61c73 {
  background: var(--reaction-emoji-background-color);
}

.reaction_f61c73:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.stageSection-3mAD8V {
  background: transparent;
}

.theme-dark .container-S9SaVf {
  background-color: rgba(255, 255, 255, 8%);
}

.theme-dark .container-S9SaVf:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titleContainer_e87574 {
  background-color: transparent;
}

.header-6h98Y_ {
  background-color: transparent;
}

.modeSelected_d8bfb3 .name_d8bfb3,
.modeSelected_d8bfb3:hover .name_d8bfb3 {
  color: var(--text-voice-channel-selected-text-color);
}

html {
  font-size: var(--font-size) !important;
}

.reaction_f61c73 {
  border: var(--reaction-emoji-border-color);
}

.folderIconWrapper-1_bOZe {
  border-radius: 100%;
}

.folder-1hbNCn {
  border-radius: 100%;
}

.wrapper_d880dc {
  background-color: transparent;
}

.aboutMeSection---MkQa {
  background-color: transparent;
}

.bodyInnerWrapper-2bQs1k {
  background-color: transparent;
}

.headerTop-3GPUSF {
  background-color: var(--small-user-popout-background-transparency);
}

.footer_edf4d6 {
  background-color: var(--small-user-popout-background-transparency);
  margin-top: 0;
}

.threadSidebar-1o3BTy {
  background: transparent;
}

.container_c15230 {
  background-color: transparent;
}

.callContainer_d880dc {
  background: transparent;
}

.profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
  background-color: rgb(0, 0, 0, 0);
}

.pill_f36a5a .item_fd07a3 {
  opacity: 0 !important;
}

.theme-dark .autocomplete_f23da8 {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.theme-dark .selected-3H3-RC {
  background-color: rgba(200, 200, 200, 0.15);
}

.translate-PeW1wK.didRender-2SiRlm .emojiPicker_c6ee36 {
  background-color: var(--emoji-menu-background-color);
}

.tutorialContainer_f9623d .childWrapper_f90abb {
  background: var(--home-icon-image) !important;
  background-position: var(--home-icon-image-position) !important;
  background-repeat: no-repeat !important;
  background-size: var(--home-icon-image-zoom) !important;
}

.tutorialContainer_f9623d .wrapper_c5f96a .childWrapper_f90abb svg {
  visibility: hidden;
}

.homeIcon-tEMBK1 {
  visibility: hidden;
}

.tutorialContainer_f9623d
  .listItem_c96c45
  .listItemWrapper_dfb2f8
  .wrapper__8436d
  svg {
  opacity: 0;
}

.tutorialContainer_f9623d {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tutorialContainer_f9623d .listItem-GuPuDH {
  right: 5px;
}

.listItem_c96c45 {
  width: initial;
}

.expandedFolderBackground_bc7085 {
  left: 0px;
}

.folder_bc7085,
.folderIconWrapper_bc7085 {
  border-radius: 100%;
}

.container_cbd271 {
  background: transparent;
}

.guildSeparator_d0c57e {
  background-color: transparent;
}

.wrapper_ba0ffb {
  background-color: transparent;
}

.avatar-3QF_VA {
  background-color: transparent;
}

.footer-3naVBw {
  background-color: var(--small-user-popout-background-transparency);
  margin-top: 0px;
}

.container_d1c246 {
  background: transparent;
}

.chatTarget_d1c246.container_d1c246.floating_d1c246 {
  background-color: var(--theme-transparency);
}

.connectedAccountContainer-SlCC-S {
  background-color: transparent;
}

.header_fd6364 {
  box-shadow: none;
}

.searchBar_a46bef {
  background-color: rgba(0, 0, 0, 0.2);
}

.reaction_f61c73 {
  background: var(--reaction-emoji-background-color);
}

.reaction_ec6b19 {
  background: var(--reaction-emoji-background-color);
}

.reaction_f61c73:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.reaction_ec6b19:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.reaction_f61c73 {
  border: var(--reaction-emoji-border-color);
}

.bannerSVGWrapper-qc0szY {
  margin-bottom: -3px;
}

.bannerSVGWrapper-qc0szY mask:first-child {
  display: none;
}

.theme-dark .background_c54132 {
  background-color: transparent;
}

.card_d4f6c7 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.interactiveCard_d92364 {
  border: 0;
}

.container_c68a2c {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.icon_ac2d0d {
  background-color: transparent;
}

.icon_ac2d0d {
  border: 0;
}

.container__29699 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.emptyStateContainer__08276 {
  background-color: transparent;
}

.theme-dark .container-3wLKDe {
  background-color: transparent;
}

.container_b385c8 {
  background-color: transparent;
  border: 0;
}

.divider_af45f8 {
  background-color: transparent;
}

.container-2_J666 {
  background-color: transparent;
}

.stepContainer-SaPPyG {
  background-color: transparent;
}

.mainCard-3KBsBI {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
}

.sidebarCard-1Gn1ch {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  border: 0;
}

.member_cbd271,
.members_cbd271 {
  background-color: transparent;
}

.scroller_fea3ef {
  background: none !important;
}

.theme-dark .container_ee69e0 {
  background: none !important;
}

.container_adcaac {
  background: none !important;
}

.container_b2ca13 {
  background: none !important;
}

.chatContent_a7d72e {
  background: none !important;
}

.scroller_c47fa9 {
  background: none !important;
}

.theme-dark .panel_bf1a22 {
  background: none !important;
  background-color: transparent;
}

.wrapper_cdfd51 {
  background: transparent;
}

.layer_d4b6c5 {
  background: transparent;
}

.codeView_ad9cbd {
  background-color: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

.newMosaicStyle_ad9cbd .codeView_ad9cbd {
  margin: 0;
}

.modalTextContainer_ad9cbd {
  background-color: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

.contentWrapper_eab878 {
  background-color: var(--emoji-menu-background-color);
}

.theme-dark .page_d20375 {
  background-color: transparent;
}

.theme-dark .container_d20375 {
  background-color: transparent;
}

.mainTableContainer_e23072 {
  background-color: transparent;
}

.theme-dark .container_c2efea {
  background-color: transparent;
}

.shop_e77fa3 {
  background-color: transparent;
}

.modeUnreadImportant_d8bfb3 .name_d8bfb3 {
  color: var(--unread-text-channel-color);
}
