._51fd70792ee2e563-appMount {
  background: transparent;
  background-image: var(--theme-background-image);
  background-size: cover;
}

._160d8e55254637e5-app {
  background: transparent;
}

._960e4207cea8323e-bg {
  background: var(--theme-transparency);
}

.ef3116c2da186559-wrapper {
  background: transparent;
}

._5e434347c823b592-panels {
  background: var(--message-box-transparency);
  backdrop-filter: blur(5px);
}

.sidebar_c48ade:after {
  background: transparent;
}

._2637a2609f343032-container {
  background: transparent;
}

.f75fb00fb7356cbe-chat {
  background: transparent;
}

.f75fb00fb7356cbe-chatContent {
  background: transparent;
}

._9293f6b2fc12398a-themed {
  background: transparent;
}

.c8ffbb79449f399c-container {
  background: transparent;
}

.c8ffbb79449f399c-members {
  background: transparent;
}

.f75fb00fb7356cbe-channelTextArea {
  background: var(--message-box-transparency);
}

._740174f3d6a2c8fe-themedBackground {
  background: transparent;
}

.privateChannels__35e86 {
  background: transparent;
}

._99e7cad8d4c55236-scroller {
  background: transparent;
}

._9293f6b2fc12398a-children:after {
  background: transparent;
}

._6e9f8dce4cc18de3-wrapper
  ._6e9f8dce4cc18de3-childWrapper._6e9f8dce4cc18de3-childWrapperNoHoverBg
  svg {
  display: none;
}

._918165dab2b1e10b-listItemWrapper
  .cc5dd25190031396-wrapper
  ._6e9f8dce4cc18de3-wrapper
  ._6e9f8dce4cc18de3-childWrapper._6e9f8dce4cc18de3-childWrapperNoHoverBg {
  background-image: var(--home-icon-image);
  background-size: var(--home-icon-image-zoom);
  background-position: var(--home-icon-image-position);
  background-repeat: no-repeat;
}

._1f388bcaa446c0c8-tutorialContainer
  .cc5dd25190031396-wrapper
  ._6e9f8dce4cc18de3-wrapper
  ._6e9f8dce4cc18de3-childWrapper._6e9f8dce4cc18de3-childWrapperNoHoverBg {
  background-color: transparent;
}

._133bf5eea8e33a34-tabBody {
  background: transparent;
}

._133bf5eea8e33a34-container {
  background: transparent;
}

.c8ffbb79449f399c-member {
  background-color: transparent;
}

._133bf5eea8e33a34-nowPlayingColumn {
  background-color: transparent;
}

._7d20cf18f8a2784c-container {
  background-color: transparent;
}

.d852db00c0588eb9-wrapper {
  background: transparent;
}

.fc817765600a960a-wrapper {
  background: transparent;
}

._23e6b439306f125a-standardSidebarView {
  background: transparent;
}

._23e6b439306f125a-sidebarRegionScroller {
  background: transparent;
}

._960e4207cea8323e-layer {
  background: transparent;
}

._23e6b439306f125a-contentRegion {
  background: transparent;
}

._23e6b439306f125a-contentRegionScroller {
  background-color: transparent;
}

.b77158512e0ab116-channelAttachmentArea {
  background-color: transparent;
}

.aa605f19898fe32e-upload {
  background-color: transparent;
}

._5ec2fb8b5de26b21-searchBar {
  background-color: transparent;
  backdrop-filter: blur(5px);
}

._7e549558f336cddb-itemCard._00943886e1cf89d1-wrapper.bf1984a18b3ec6f0-outer.bf1984a18b3ec6f0-padded.bf1984a18b3ec6f0-interactive {
  background-color: transparent;
  backdrop-filter: blur(5px);
}

._623de82e76ad7f82-embedFull {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}

._4d95d73152192cf9-footer {
  background: transparent;
  backdrop-filter: blur(5px);
}

._4d95d73152192cf9-textContainer {
  background-color: transparent;
  backdrop-filter: blur(15px) !important;
}

._4d95d73152192cf9-codeView {
  background-color: transparent;
}

._0f2e83213c878a13-container {
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}

._5dec784a68542d60-panel {
  background-color: transparent !important;
}

.scroller__28a87 {
  background-color: transparent;
}

.bfe55a0aaaf62375-root {
  background: transparent;
}

.cb9592ad77576717-wrapper {
  background: transparent;
}

.cb9592ad77576717-callContainer {
  background: transparent;
}

._01ae244280823725-resizeHandle {
  background: transparent;
}

._01ae244280823725-container {
  background: transparent;
  backdrop-filter: blur(5px);
}

._01ae244280823725-chatLayerWrapper {
  background: transparent;
}

.cb9592ad77576717-channelChatWrapper {
  background: transparent;
}

.f369dba7416c67f0-container {
  background: transparent;
}

.f369dba7416c67f0-mainCard {
  background: transparent;
  backdrop-filter: blur(5px);
}

.faa96b2163f6a142-container:hover {
  background: transparent;
  backdrop-filter: blur(15px);
}

.c8ffbb79449f399c-membersWrap {
  background-color: transparent;
}

.e6b7699ce8339e1c-privateChannels {
  background: none;
}

.chatGradient__36d07 {
  background: none;
}

.chatTypingGradientAtBottom__36d07,
.chatTypingGradientNotAtBottom__36d07 {
  background: none;
}

._9293f6b2fc12398a-themed {
  background: transparent !important;
}

._5e434347c823b592-sidebar:after {
  background: transparent;
}

._36d072eab2b2e737-chatGradient {
  background: transparent;
}

#guild-list-unread-dms .ed9a5f50013e19ac-pill {
  display: none;
}

.e29cd7b93c4f1266-titleContainer {
  background-color: transparent;
}

.c6bf1b7af480dfda-header {
  background-color: transparent;
}

._535437b3d3b11fd1-scroller {
  background-color: transparent;
}

._36d072eab2b2e737-chatTypingGradientNotAtBottom {
  background: transparent;
}

._36d072eab2b2e737-chatTypingGradientAtBottom {
  background: transparent;
}
