/**
* @name NotAnotherAnimeTheme
* @author puckzxz#2080
* @version 3.2
* @description An easily customizable and automatically updating theme
* @invite FdZhbjY
* @source https://github.com/puckzxz/NotAnotherAnimeTheme
*/

.appMount_fae9dd {
  background-image: var(--theme-background-image) !important;
  background-size: cover !important;
}

.app_de4237 {
  background-color: transparent;
}

.bg__12180 {
  background-color: var(--theme-transparency);
}

.tutorialContainer-2sGCg9
  .wrapper__3af0b
  .childWrapper__01b9c
  .homeIcon-FuNwkv {
  visibility: hidden;
}

.tutorialContainer-2sGCg9
  .listItem-GuPuDH
  .listItemWrapper-KhRmzM
  .wrapper_d281dd
  .childWrapper__01b9c {
  background-color: transparent;
}

.homeIcon-tEMBK1 {
  visibility: hidden;
}

.tutorialContainer-2sGCg9
  .listItem-GuPuDH
  .listItemWrapper-KhRmzM
  .wrapper_d281dd
  svg {
  opacity: 0;
}

.titleBar__01af6 {
  background-color: transparent;
}

.app__00c92 {
  background-color: transparent;
}

.bg__7adbf {
  background-color: var(--theme-transparency);
}

.wrapper_a7e7a8,
.scroller__3d071 {
  background-color: transparent;
}

/* FRIENDS SIDEBAR */
.sidebar_ded4b5 {
  background: transparent;
}

.privateChannels__93473 {
  background-color: transparent;
}

.scroller__4b984 {
  background-color: transparent;
}

.searchBar_e4ea2a .searchBarComponent__22760 {
  background-color: transparent;
}

/* USER INFO */
.panels__58331 {
  background-color: transparent;
}

.theme-dark .container__5c7e7 {
  background-color: transparent;
}

.container__11d72.themed_b152d4 {
  background: transparent;
}

.nowPlayingColumn_f5023f {
  background: transparent;
}

.headerNormal-1l1Znk {
  background-color: var(--small-user-popout-background-transparency);
}

.headerTop-2y3V6H {
  background-color: transparent;
  border-bottom: none;
}

.avatar-22FtUu {
  border: none;
  background-color: transparent;
}

.profileBanner__8414b {
  background-color: transparent !important;
}

.input__95bc4 {
  background-color: transparent;
}

.avatarHint-1E3LMl {
  top: 0 !important;
  left: 0 !important;
}

/* CHAT SIDER */
.container__590e2 {
  background-color: transparent;
}

/* CHAT BODY */
.chat__52833 {
  background: transparent;
}

.chat__52833 {
  background: transparent;
}

/* CHAT MEMBERS */
.members__9f47b,
.members__9f47b > div {
  background-color: transparent;
}

.chatContent__5dca8 {
  background: transparent;
}

.container_b2ce9c {
  background: transparent;
}

.members__9f47b {
  background: transparent;
}

.member_b44d5d {
  background: transparent;
}

.theme-dark .container_ca50b9 {
  background: transparent;
}

.container_d667ff {
  background: transparent;
}

.button__66e8c.buttonColor_a6eb73,
.button__66e8c .buttonColor_a6eb73 {
  background-color: var(--video-screen-button-background-color);
}

.button__66e8c.buttonColor_a6eb73:hover,
.button__66e8c .buttonColor_a6eb73:hover {
  background-color: var(--video-screen-button-background-hovor-color);
}

.channelTextArea__2e60f {
  background: transparent;
}

/* CHAT INPUT */
.channelTextArea__2e60f {
  background-color: transparent;
}

.scrollableContainer__33e06 {
  background: none !important;
}

.scrollableContainer__33e06 {
  background-color: var(--message-box-transparency) !important;
}

.theme-dark .form__13a2c:before {
  background: transparent;
}

/* SETTINGS */
.layer_e552e0 {
  background-color: transparent;
}

.standardSidebarView__1129a {
  background-color: transparent;
}

.sidebarRegionScroller__1fa7e {
  background-color: transparent;
}

.contentRegion__0bec1 {
  background-color: transparent;
}

.contentRegionScroller__86c79 {
  background-color: transparent;
}

/* SETTINGS - PROFILE */
.background_b61fcc {
  background-color: transparent;
}

.fieldList_aab0de {
  background-color: transparent;
}

/* CHAT SCROLLER */
.auto_a48086::-webkit-scrollbar-track {
  background-color: transparent;
}

/* SCROLL THUMB */
.auto_a48086::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

/* EMBEDS */
.embedFull__8dc21 {
  border-left: 4px solid var(--main-theme-color);
  background: var(--embed-background-transparency);
}

/* DAY CONTAINER */
.content_d67847 {
  color: var(--main-theme-color);
  background: transparent;
}

/* ANNOYANCES */
.theme-dark .children__32014:after {
  background: transparent;
}

.tree-3tCaw8 {
  outline: none;
}

/* #region columns */

/* COLUMNS */
.wrapper_a7e7a8 {
  width: var(--server-listing-width);
}

.scrollerWrap-1IAIlv {
  width: calc(var(--server-listing-width) + 6px);
}

.wrapper_a7e7a8 .scroller__3d071 {
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  align-content: flex-start;
}

.wrapper_a7e7a8 .scroller__3d071 > div:not(.listItem-GuPuDH) > div {
  width: 50px;
  margin-left: 10px;
}

.listItem-GuPuDH {
  width: auto;
  margin-left: 0px;
}

.wrapper_a7e7a8 .scroller__3d071 > div.listItem-GuPuDH:nth-child(1) {
  width: 100% !important;
  margin-bottom: 8px;
  margin-left: 2px;
}

.wrapper__3670f {
  height: 54px;
  width: 54px;
}

.pill-31IEus {
  left: -2px;
  position: absolute;
  top: -2px;
}

.wrapper_a7e7a8 .scroller__3d071 .guildSeparator__641a8 {
  position: relative;
  margin-top: 10px;
  width: 80px;
  display: block;
  margin: 10px auto 5px;
  margin-left: 24px;
  background-color: transparent;
}

.wrapper-21YSNc {
  position: relative;
  width: auto;
}

@keyframes rainbow {
  0% {
    -webkit-filter: hue-rotate(0);
    -moz-filter: hue-rotate(0);
    -ms-filter: hue-rotate(0);
    filter: hue-rotate(0);
  }

  100% {
    -webkit-filter: hue-rotate(360deg);
    -moz-filter: hue-rotate(360deg);
    -ms-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.item_f9d377 {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--main-theme-color);
  background: transparent;
  border-radius: 100%;
  display: block;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  top: -2px;
  right: 3px !important;
  width: 48px;
  height: 48px !important;
  transform: none !important;
}

.wrapper_a7e7a8
  .scroller__3d071
  > div.listItem-GuPuDH:nth-child(1)
  .item_f9d377 {
  opacity: 0 !important;
}

.item_f9d377:not([style*="height: 8px"]) {
  border-color: transparent;
  background-color: initial;
}

.pill-1m5BUr {
  display: none;
}

.wrapper_a7e7a8 .scroller__3d071 > div {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.tutorialContainer-2sGCg9 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.expandedFolderBackground-2sPsd- {
  left: 0px;
}

.tutorialContainer-2sGCg9 .listItem-GuPuDH {
  right: 5px;
}

/* #endregion */

/* VIDEO / SCREEN BUTTONS */
.button__66e8c.buttonColor_a6eb73,
.button__66e8c .buttonColor_a6eb73 {
  background-color: var(--video-screen-button-background-color);
  color: var(--video-screen-button-foreground-color);
}

.button__66e8c.buttonColor_a6eb73:hover,
.button__66e8c .buttonColor_a6eb73:hover {
  background-color: var(--video-screen-button-background-hovor-color);
  color: var(--video-screen-button-foreground-hovor-color);
}

/* FRIEND ACTIVITY */
.wrapper__6e669 {
  background-color: rgba(200, 200, 200, 0.1);
}

.theme-dark .inset__0bfb3 {
  background-color: rgba(200, 200, 200, 0.1);
}

.emptyCard_f82dde {
  background: transparent;
}

/* FRIEND CALL/MESSAGE BUTTONS */
.actionButton__23182 {
  background-color: transparent;
}

/* Message Hover buttons */
.wrapper_c727b6 {
  background-color: var(--message-hover-buttons-background);
}

/* Context menu */
.menu_dc52c6 {
  background: var(--context-menu-transparency);
}

.circleIconButton_d8df29 {
  color: var(--add-discover-icon-color);
  background-color: var(--add-discover-icon-transparency);
}

/* Loading chat placeholder */
.wrapper-22ayhK {
  background-color: transparent;
}

.wrapper__5c5cd {
  background-color: transparent;
}

/*Channel Limit*/
.wrapper__5848b {
  color: var(--channel-limit-count-color);
}

/* Background left */
.users__65981 {
  background-color: var(--channel-limit-background-left);
}

/* Background right */
.total_c01838:after {
  border-right-color: var(--channel-limit-background-left);
}

.total_c01838 {
  background-color: var(--channel-limit-background-right);
}

/* Info Modal */
.theme-dark .root_a28985 {
  box-shadow: none;
}

.theme-dark .footer_c793da {
  background-color: transparent;
  box-shadow: none;
}

/* Channel category color */
.wrapper__9c483:not(.muted_de6e6e)
  .name__590d6.container-q97qHp
  .overflow__87fe8 {
  color: var(--main-theme-color);
}

.wrapper__9c483 {
  color: var(--main-theme-color);
}

.mainContent_a0b319 .container_de798d {
  color: var(--main-theme-color);
}

.wrapper__9c483.muted_de6e6e:hover .icon_ef4486,
.wrapper__9c483.muted_de6e6e:hover .name__590d6,
.wrapper__9c483:hover .icon_ef4486,
.wrapper__9c483:hover .name__590d6.container_de798d {
  color: var(--category-hover-color);
}

/* Member Role title color */
.membersGroup__85843 {
  color: var(--member-listing-role-color);
}

/* Channel scroller */
.thin_b1c063::-webkit-scrollbar-track {
  border-color: transparent;
  background-color: transparent;
  border: transparent;
}

.thin_b1c063::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

/* Small user popout */
.userPopout-2j1gM4 {
  background-position: var(--small-user-popout-background-image-position);
  background-image: var(--small-user-popout-background-image);
}

.theme-dark .headerNormal-1mX3KY {
  background-color: var(--small-user-popout-background-transparency);
}

.headerPlaying-j0WQBV {
  background: var(--small-user-popout-background-transparency);
}

.headerTop-2cWpdB {
  background-color: initial;
  border-bottom: none;
}

.headerSpotify-zpWxgT {
  background: var(--small-user-popout-background-transparency);
}

.theme-dark .body-2wLx-E,
.theme-dark .footer-1N3bR3 {
  background-color: var(--small-user-popout-background-transparency);
  color: hsla(0, 0%, 100%, 0.8);
}

/* New small user popout */

.userPopout-3fydSP {
  background-position: var(--small-user-popout-background-image-position);
  background-image: var(--small-user-popout-background-image);
}

.userPopoutInnerWithBanner-wsoegj,
.userPopoutInnerNonPremium-3zrFkp {
  background: var(--small-user-popout-background-transparency);
}

/* For the background of the content, using darker color from message transparency variable */
.overlayBackground-arbZMT {
  background-color: var(--message-box-transparency);
}

/* For the background of the badges, same as above */
.profileBadges-31rDHI {
  background-color: var(--message-box-transparency);
}

/* For the background of the whole preview in user profile settings */
.profileCustomizationPreview-2-Y173 {
  background: rgba(0, 0, 0, 0.2);
}

.overlayBackground-H1K9ZY,
.profileBadges-1GBCVy {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Add note */
.textarea_c5a7a3:focus {
  background-color: rgba(0, 0, 0, 0.4);
}

/* Big user popout */
.root-8LYsGj {
  background-position: var(--big-user-popout-background-image-position);
  background-image: var(--big-user-popout-background-image);
  background-color: transparent;
}

/* Default header */
.topSection-13QKHs {
  background-color: var(--big-user-popout-background-transparency);
}

.topSectionPlaying-1J5E4n {
  background: var(--big-user-popout-background-transparency);
}

.topSectionSpotify-1lI0-P {
  background: var(--big-user-popout-background-transparency);
}

.topSectionStreaming-1Tpf5X {
  background: var(--big-user-popout-background-transparency);
}

.body-1Ukv50 {
  background-color: var(--big-user-popout-background-transparency);
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
  border-top-color: transparent;
}

.tabBarContainer-sCZC4w {
  border-top: none;
}

/* Upload Dialog */
.theme-dark .uploadModal_eae2a0 {
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: none;
}

.theme-dark .footer_ceda43 {
  background-color: rgba(20, 20, 20, 0.6);
  box-shadow: none;
}

/* Role Listing */
.scroller__52680 {
  background-color: transparent;
}

/* Moderation Listings */
.item-2idW98 {
  background-color: transparent;
}

.item-2idW98[aria-checked="true"] {
  background-color: rgba(200, 200, 200, 0.1);
}

/* Uploaded file in chat */
.attachment_f3cf2c {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.6);
}

/* Mentions */
.mentioned__58017:before {
  background-color: var(--mention-sider);
}

.mentioned__58017 {
  position: relative;
  background-color: var(--mention-color);
}

.message__80c10.mentioned__58017.selected_fd9051,
.mouse-mode.full-motion .mentioned__58017:hover {
  background-color: var(--mention-hover-color);
}

/* Code Markup */
.markup_a7e664 code {
  background: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

/* quote */
.blockquoteDivider__96157 {
  background-color: var(--main-theme-color);
}

/* Library page */
.scroller__311cd {
  background-color: transparent;
}

.header_b5ab54 {
  background-color: transparent;
  border-bottom: none;
}

.theme-dark .lookFilled-yCfaCM.colorPrimary-3b3xI6 {
  color: #f6f6f7;
  background-color: rgba(200, 200, 200, 0.2);
}

/* Nitro page */
.scroller__244e5 {
  background-color: transparent;
}

.applicationStore_fc7d76 {
  background-color: transparent;
}

.wrapper_bd2abe.minimum_ebf000 {
  height: 240px;
  background-color: initial;
}

.content__1a4fe:before {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.theme-dark .perksModal-fSYqOq {
  background-color: initial;
}

/* Unread Message Divider */
.isUnread__6f880 {
  border-color: var(--unread-message-divider-color);
}

.unreadPill__715fc {
  color: var(--unread-message-divider-font-color);
  background-color: var(--unread-message-divider-color);
}

.unreadPillCapStroke__12c0b {
  color: var(--unread-message-divider-color);
  fill: var(--unread-message-divider-color);
}

/* New Messages Bar */
.newMessagesBar__8b6d7 {
  background-color: var(--new-messages-bar-background-color);
}

.newMessagesBar__8b6d7 button {
  color: var(--new-messages-bar-font-color);
}

/* Emoji Menu */
.contentWrapper__321ed {
  background-color: var(--emoji-menu-background-color);
}

.wrapper__4f229 {
  background-color: var(--emoji-menu-sider-background-color);
}

.unicodeShortcut__1dd6b {
  background-color: var(--emoji-menu-bottom-bar-background-color);
}

.inspector__993e1 {
  background-color: var(--emoji-menu-bottom-bar-background-color);
}

.wrapper__7a35f {
  background-color: var(--emoji-menu-server-header-background-color);
}

.container_e4c233 {
  background-color: var(--emoji-menu-search-bar-background-color);
}

/* Search */
.theme-dark .container_d6dad3 {
  background-color: var(--message-search-menu-background-color);
}

.theme-dark .elevationBorderHigh_f9a758 {
  box-shadow: none;
}

.theme-dark .option-2KkUJO.selected-rZcOL-:after {
  background: none;
}

.theme-dark .option-2KkUJO:after {
  background: none;
}

.searchResultsWrap__9f374 {
  background-color: var(--message-search-container-background-color);
}

.searchHeader__19d87 {
  background-color: transparent;
}

.channelName-3w2Y3c {
  background: transparent;
}

.searchResult_dcd237 {
  background-color: var(--message-search-result-background-color);
}

.wrapper__3670f {
  overflow: visible;
}

.expandedFolderBackground-1cujaW {
  left: 1px;
}

.wrapper_a7e7a8
  .scroller__3d071
  div
  .listItem-GuPuDH
  .pill__357e7
  .item_f9d377 {
  opacity: 0 !important;
}

.tree__7a511:focus {
  outline: none;
}

/* unread text channel color */
.modeUnread_f74c03 .name__8d1ec {
  color: var(--unread-text-channel-color);
}

/* Unread text channel bubble */
.unread__48cf4 {
  background-color: var(--unread-text-channel-bubble-color);
}

/* channel hover */
.modeMuted__0aeea:hover .name__8d1ec,
.wrapper__7bcde:hover .name__8d1ec {
  color: var(--text-voice-channel-hover-color);
}

/* Channel color */
.name__8d1ec {
  color: var(--text-voice-channel-color);
}

/* Folder colors */
.expandedFolderBackground__1bec6 {
  background-color: var(--expanded-folder-background-color);
}

.folder__17546 {
  background-color: var(--folder-background-color);
}

/* Friend activity */
.container__0a6a9 {
  background-color: transparent;
}

.section_efc22d {
  background-color: transparent;
}

.theme-dark .outer_a41cf3.active__76f42,
.theme-dark .outer_a41cf3.interactive__01cfa:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.reaction_b90ab0 {
  background: var(--reaction-emoji-background-color);
}

.reaction_b90ab0:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.stageSection-3mAD8V {
  background: transparent;
}

.theme-dark .container-S9SaVf {
  background-color: rgba(255, 255, 255, 8%);
}

.theme-dark .container-S9SaVf:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.titleContainer_e558ff {
  background-color: transparent;
}

.header-6h98Y_ {
  background-color: transparent;
}

.modeSelected__487d6 .name__8d1ec,
.modeSelected__487d6:hover .name__8d1ec {
  color: var(--text-voice-channel-selected-text-color);
}

html {
  font-size: var(--font-size) !important;
}

.reaction_b90ab0 {
  border: var(--reaction-emoji-border-color);
}

.folderIconWrapper-1_bOZe {
  border-radius: 100%;
}

.folder-1hbNCn {
  border-radius: 100%;
}

.wrapper_bd2abe {
  background-color: transparent;
}

.aboutMeSection---MkQa {
  background-color: transparent;
}

.bodyInnerWrapper-2bQs1k {
  background-color: transparent;
}

.headerTop-3GPUSF {
  background-color: var(--small-user-popout-background-transparency);
}

.footer_bfb4b9 {
  background-color: var(--small-user-popout-background-transparency);
  margin-top: 0;
}

.threadSidebar-1o3BTy {
  background: transparent;
}

.container__767d1 {
  background-color: transparent;
}

.callContainer_cbde45 {
  background: transparent;
}

.profileBannerPreview-3_l0Wd .headerTop-3GPUSF {
  background-color: rgb(0, 0, 0, 0);
}

.listItem__3876c {
  width: initial;
}

.pill__357e7 .item_f9d377 {
  opacity: 0 !important;
}

.theme-dark .autocomplete_df266d {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(5px);
}

.theme-dark .selected-3H3-RC {
  background-color: rgba(200, 200, 200, 0.15);
}

.translate-PeW1wK.didRender-2SiRlm .emojiPicker_b65ce9 {
  background-color: var(--emoji-menu-background-color);
}

.tutorialContainer__890ea .childWrapper__01b9c {
  background: var(--home-icon-image) !important;
  background-position: var(--home-icon-image-position) !important;
  background-repeat: no-repeat !important;
  background-size: var(--home-icon-image-zoom) !important;
}

.tutorialContainer__890ea
  .wrapper__3af0b
  .childWrapper__01b9c
  .homeIcon-FuNwkv {
  visibility: hidden;
}

.tutorialContainer__890ea
  .listItem-GuPuDH
  .listItemWrapper-KhRmzM
  .wrapper_d281dd
  .childWrapper__01b9c {
  background-color: transparent;
}

.homeIcon-tEMBK1 {
  visibility: hidden;
}

.tutorialContainer__890ea
  .listItem_fa7b36
  .listItemWrapper__1f93b
  .wrapper_d281dd
  svg {
  opacity: 0;
}

.tutorialContainer__890ea {
  display: flex;
  justify-content: center;
  width: 100%;
}

.tutorialContainer__890ea .listItem-GuPuDH {
  right: 5px;
}

.listItem_fa7b36 {
  width: initial;
}

.expandedFolderBackground__1bec6 {
  left: 0px;
}

.folder__17546,
.folderIconWrapper__72239 {
  border-radius: 100%;
}

.container_b2ce9c {
  background: transparent;
}

.guildSeparator_dcb3cc {
  background-color: transparent;
}

.wrapper_b8c724 {
  background-color: transparent;
}

.avatar-3QF_VA {
  background-color: transparent;
}

.footer-3naVBw {
  background-color: var(--small-user-popout-background-transparency);
  margin-top: 0px;
}

.container_def45c {
  background: transparent;
}

.chatTarget__0ea5e.container_def45c.floating_f021e2 {
  background-color: var(--theme-transparency);
}

.connectedAccountContainer-SlCC-S {
  background-color: transparent;
}

.header__104ca {
  box-shadow: none;
}

.searchBar_e0c60b {
  background-color: rgba(0, 0, 0, 0.2);
}

.reaction_b90ab0 {
  background: var(--reaction-emoji-background-color);
}

.reaction_fef95b {
  background: var(--reaction-emoji-background-color);
}

.reaction_b90ab0:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.reaction_fef95b:hover {
  background-color: var(--reaction-emoji-hover-background-color);
  border-color: var(--reaction-emoji-hover-border-color);
}

.reaction_b90ab0 {
  border: var(--reaction-emoji-border-color);
}

.bannerSVGWrapper-qc0szY {
  margin-bottom: -3px;
}

.bannerSVGWrapper-qc0szY mask:first-child {
  display: none;
}

.theme-dark .background_e80d5a {
  background-color: transparent;
}

.card_d4f6c7 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.interactiveCard_d5a839 {
  border: 0;
}

.container__92dc8 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.icon_f71c55 {
  background-color: transparent;
}

.icon_f71c55 {
  border: 0;
}

.container_acafc1 {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.emptyStateContainer__3c229 {
  background-color: transparent;
}

.theme-dark .container-3wLKDe {
  background-color: transparent;
}

.container__8ee50 {
  background-color: transparent;
  border: 0;
}

.divider_ffec75 {
  background-color: transparent;
}

.container-2_J666 {
  background-color: transparent;
}

.stepContainer-SaPPyG {
  background-color: transparent;
}

.mainCard-3KBsBI {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
}

.sidebarCard-1Gn1ch {
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  border: 0;
}

.member_b44d5d,
.members__9f47b {
  background-color: transparent;
}

.scroller__3d071 {
  background: none !important;
}

.theme-dark .container__590e2 {
  background: none !important;
}

.container_d667ff {
  background: none !important;
}

.container_ca50b9 {
  background: none !important;
}

.chatContent__5dca8 {
  background: none !important;
}

.scroller__4b984 {
  background: none !important;
}

.theme-dark .panel_bd8c76 {
  background: none !important;
  background-color: transparent;
}

.wrapper__3d460 {
  background: transparent;
}

.layer__2efaa {
  background: transparent;
}

.codeView__8b1ff {
  background-color: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

.newMosaicStyle__8d3be .codeView__8b1ff {
  margin: 0;
}

.modalTextContainer_ddfc28 {
  background-color: var(--code-markup-background-color);
  border: var(--code-markup-border);
}

.contentWrapper_eab878 {
  background-color: var(--emoji-menu-background-color);
}

.theme-dark .page__0b66e {
  background-color: transparent;
}

.theme-dark .container_df3aa0 {
  background-color: transparent;
}

.mainTableContainer__5ffe0 {
  background-color: transparent;
}

.theme-dark .container__7590f {
  background-color: transparent;
}

.shop_b31ed2 {
  background-color: transparent;
}

.modeUnreadImportant_efb53e .name__8d1ec {
  color: var(--unread-text-channel-color);
}
