.visual-refresh {
  .appMount__51fd7 {
    background: transparent;
    background-image: var(--theme-background-image);
    background-size: cover;
  }

  .app__160d8 {
    background: transparent;
  }

  .bg__960e4 {
    background: var(--theme-transparency);
  }

  .wrapper_ef3116 {
    background: transparent;
  }

  .panels_c48ade {
    background: var(--message-box-transparency);
    backdrop-filter: blur(5px);
  }

  .sidebar_c48ade:after {
    background: transparent;
  }

  .container__2637a {
    background: transparent;
  }

  .chat_f75fb0 {
    background: transparent;
  }

  .chatContent_f75fb0 {
    background: transparent;
  }

  .themed__9293f {
    background: transparent;
  }

  .container_c8ffbb {
    background: transparent;
  }

  .members_c8ffbb {
    background: transparent;
  }

  .channelTextArea_f75fb0 {
    background: var(--message-box-transparency);
  }

  .themedBackground__74017 {
    background: transparent;
  }

  .privateChannels__35e86 {
    background: transparent;
  }

  .scroller__99e7c {
    background: transparent;
  }

  .children__9293f:after {
    background: transparent;
  }

  .wrapper_ef3116 {
    width: var(--server-listing-width);
  }

  .scrollerWrap-1IAIlv {
    width: calc(var(--server-listing-width) + 6px);
  }

  .wrapper_ef3116 .scroller_ef3116 {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
  }

  .stack_dbd263 .listItem__650eb:not(.wrapper__48112 .listItem__650eb) {
    width: initial;
    padding: 1px;
    margin: 2px;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 .stack_dbd263 {
    justify-content: center;
  }

  .stack_dbd263 .wrapper__48112 .listItem__650eb {
    width: initial;
  }

  .scroller_ef3116 > .listItem__650eb {
    width: 100%;
  }

  .listItem-GuPuDH {
    width: auto;
    margin-left: 0px;
  }

  .wrapper-21YSNc {
    position: relative;
    width: auto;
  }

  @keyframes rainbow {
    0% {
      -webkit-filter: hue-rotate(0);
      -moz-filter: hue-rotate(0);
      -ms-filter: hue-rotate(0);
      filter: hue-rotate(0);
    }

    100% {
      -webkit-filter: hue-rotate(360deg);
      -moz-filter: hue-rotate(360deg);
      -ms-filter: hue-rotate(360deg);
      filter: hue-rotate(360deg);
    }
  }

  .pill_e5445c {
    width: 100% !important;
  }

  .wrapper__58105 {
    overflow: visible !important;
  }

  .item__58105 {
    animation: var(--unread-server-animation) 3s linear infinite;
    border: 2px solid var(--main-theme-color);
    background: transparent;
    display: block;
    border-radius: 30% !important;
    position: absolute;
    transform: none !important;
    inset: 0 !important;
    top: -2px !important;
    left: 2px !important;
    width: 100%;
    height: 100% !important;
  }

  .pill_e5445c .item__58105:not([style*="height: 8px"]) {
    border-color: transparent;
    background-color: initial;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 {
    justify-content: center;
  }

  .stack_dbd263 {
    display: flex !important;
    flex-direction: column !important;
    flex-flow: row wrap !important;
    align-items: flex-start !important;
  }

  .tutorialContainer__1f388 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .stack_dbd263 .wrapper__48112 {
    width: fit-content !important;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2
    > .listItem__650eb {
    margin-bottom: 8px;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2:last-child
    .listItem__650eb {
    width: initial;
  }

  .wrapper__48112.isExpanded__48112 .listItem__650eb {
    width: 100% !important;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2
    > div
    .listItem__650eb
    .pill_ed9a5f.wrapper__58105 {
    display: none !important;
  }

  .wrapper__48112.isExpanded__48112 .stack_dbd263 {
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
  }

  .wrapper__48112.isExpanded__48112 .listItem__650eb {
    width: 100%;
  }

  .wrapper__48112.isExpanded__48112
    .stack_dbd263
    .listItem__650eb
    .pill_e5445c.wrapper__58105
    .item__58105 {
    width: 85% !important;
    height: 100% !important;
    left: 5px !important;
    top: -2px !important;
  }

  .wrapper__48112.isExpanded__48112 .stack_dbd263 {
    overflow: visible;
  }

  .expandedFolderBackground__48112 {
    left: 0px;
  }

  .tutorialContainer__1f388 .listItem__650eb .pill__1f388.wrapper__58105 {
    display: none;
  }

  .wrapper__6e9f8 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 svg {
    display: none;
  }

  .listItemWrapper__91816
    .wrapper_cc5dd2
    .wrapper__6e9f8
    .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
    background-image: var(--home-icon-image);
    background-size: var(--home-icon-image-zoom);
    background-position: var(--home-icon-image-position);
    background-repeat: no-repeat;
  }

  .unreadMentionsIndicatorTop_ef3116 {
    justify-self: center;
  }

  .wrapper_ef3116 .scroller_ef3116 {
    justify-content: center;
  }

  .tabBody__133bf {
    background: transparent;
  }

  .container__133bf {
    background: transparent;
  }

  .member_c8ffbb {
    background-color: transparent;
  }

  .nowPlayingColumn__133bf {
    background-color: transparent;
  }

  .container__7d20c {
    background-color: transparent;
  }

  .wrapper_d852db {
    background: transparent;
  }

  .wrapper_fc8177 {
    background: transparent;
  }

  .standardSidebarView__23e6b {
    background: transparent;
  }

  .sidebarRegionScroller__23e6b {
    background: transparent;
  }

  .layer__960e4 {
    background: transparent;
  }

  .contentRegion__23e6b {
    background: transparent;
  }

  .contentRegionScroller__23e6b {
    background-color: transparent;
  }

  .channelAttachmentArea_b77158 {
    background-color: transparent;
  }

  .upload_aa605f {
    background-color: transparent;
  }

  .guildSeparator__252b6 {
    display: none;
  }

  .searchBar__5ec2f {
    background-color: transparent;
    backdrop-filter: blur(5px);
  }

  .itemCard__7e549.wrapper__00943.outer_bf1984.padded_bf1984.interactive_bf1984 {
    background-color: transparent;
    backdrop-filter: blur(5px);
  }

  .embedFull__623de {
    background-color: transparent !important;
    backdrop-filter: blur(5px);
  }

  .footer__4d95d {
    background: transparent;
    backdrop-filter: blur(5px);
  }

  .textContainer__4d95d {
    backdrop-filter: blur(15px) !important;
  }

  .container__0f2e8 {
    background-color: transparent !important;
    backdrop-filter: blur(5px);
  }

  .panel__5dec7 {
    background-color: transparent !important;
  }

  .scroller__28a87 {
    background-color: transparent;
  }

  .root_bfe55a {
    background: transparent;
  }

  .wrapper_cb9592 {
    background: transparent;
  }

  .callContainer_cb9592 {
    background: transparent;
  }

  .resizeHandle__01ae2 {
    background: transparent;
  }

  .container__01ae2 {
    background: transparent;
    backdrop-filter: blur(5px);
  }

  .chatLayerWrapper__01ae2 {
    background: transparent;
  }

  .channelChatWrapper_cb9592 {
    background: transparent;
  }

  .container_f369db {
    background: transparent;
  }

  .mainCard_f369db {
    background: transparent;
    backdrop-filter: blur(5px);
  }

  .container_faa96b:hover {
    background: transparent;
    backdrop-filter: blur(15px);
  }
}