.appMount-3lHmkl {
    background-image: var(--theme-background);
    background-size: cover;
}

.titleBar-AC4pGV {
    background-color: transparent;
}

.app-2rEoOp {
    background-color: transparent;
}

.bg-h5JY_x {
    background-color: var(--theme-transparency);
}

.wrapper-1Rf91z, .scroller-2TZvBN {
    background-color: transparent;
}


/* FRIENDS SIDEBAR */
.sidebar-2K8pFh {
    background: transparent;
}
.privateChannels-1nO12o {
    background-color: transparent;
}
.scroller-1JbKMe {
    background-color: transparent;
}

.searchBar-6Kv8R2 .searchBarComponent-32dTOx {
    background-color: transparent;
}

/* USER INFO */
.panels-j1Uci_ {
    background-color: transparent;
}


.theme-dark .container-1D34oG {
    background-color: transparent;
}
.container-1r6BKw.themed-ANHk51 {
    background: transparent;
}
.nowPlayingColumn-2sl4cE {
    background: transparent;
}

/* CHAT SIDER */
.container-3w7J-x {
    background-color: transparent;
}

/* CHAT BODY */
.chat-3bRxxu {
    background: transparent;
}

/* CHAT MEMBERS */
.members-1998pB, .members-1998pB>div {
    background-color: transparent;
}

/* CHAT INPUT */
.channelTextArea-rNsIhG {
    background-color: rgba(0,0,0,0.6);
}
.scrollableContainer-2NUZem {
    background-color: transparent;
}
.theme-dark .form-2fGMdU:before {
    background: transparent;
}

/* SETTINGS */
.layer-3QrUeG {
    background-color: transparent;
}
.standardSidebarView-3F1I7i {
    background-color: transparent;
}
.sidebarRegionScroller-3MXcoP {
    background-color: transparent;
}
.contentRegion-3nDuYy {
    background-color: transparent;
}
.contentRegionScroller-26nc1e {
    background-color: transparent;
}
/* SETTINGS - PROFILE */
.background-1QDuV2 {
    background-color: transparent;
}
.fieldList-21DyL8 {
    background-color: transparent;
}

/* CHAT SCROLLER */
.auto-Ge5KZx::-webkit-scrollbar-track {
    background-color: transparent;
}
/* SCROLL THUMB */
.auto-Ge5KZx::-webkit-scrollbar-thumb {
    background-color: rgba(200,200,200,.2);
}

/* EMBEDS */
.embedFull-2tM8-- {
    border-left: 4px solid var(--background-tertiary);
    background: rgba(0,0,0,0.6);
}


/* DAY DIVIDER */
.divider-JfaTT5 {
    /* border-top: thin solid pink; */
    border-color: transparent;
}
/* DAY CONTAINER */
.content-1o0f9g {
    color: var(--main-theme-color);
    background: transparent;
}

/* ANNOYANCES */
.theme-dark .children-19S4PO:after {
    background: transparent;
}