//META{"name":"NotAnotherAnimeThemeTCSL","description":"Anime theme made by WhatDaPuck#2080 | Triple Column Server List, make sure you're up to date at https://goo.gl/dcCBQd","author":"WhatDaPuck#2080","version":"1.0"}*//{}
@import url(https://gitcdn.xyz/repo/WhatDaPuck/NotAnotherAnimeTheme/master/css/NotAnotherAnimeThemeTCSL.css);


/*      THIS THEME IS THE SAME AS THE ORIGINAL EXCEPT IT HAS TRIPLE COLUMNS FOR SERVERS INSTEAD OF TWO                                                 */
/*      IF YOU WANT THE ORIGINAL GO TO THIS LINK -> https://github.com/WhatDaPuck/NotAnotherAnimeTheme/blob/master/NotAnotherAnimeTheme.theme.css       */


/*To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ */



/*Any images you use MUST end with .jpg or .png or any other image extension*/
/*This is NOT a valid link, https://imgur.com/a/ycjL2 */
/*THIS IS A VALID LINK https://i.imgur.com/rCqnrQ7.jpg */
/*Usually you can just right click your image and then click "Copy image address" and that should give you the direct link to the image*/



/*To edit any colors in this theme you can use hex or rgba*/
/*Example hex code: #43b581 - that is the default discord green*/
/*Example rgba: rbga(255, 0, 0, 0.5) - that is red with half transparency*/
/*rgba works like this rgba(RED, GREEN, BLUE, ALPHA) - red, green and blue should be self-explanatory.  alpha is just transparency with 0.00 being the lowest and 1.00 being the highest*/




/*EDIT THIS TO CHANGE THE BACKGROUND, I RECOMMEND USING IMGUR TO HOST YOUR IMAGE*/
[class~=app] {
    background: url(https://raw.githubusercontent.com/WhatDaPuck/NotAnotherAnimeTheme/master/image/PTT4OKi.jpg) !important;
    background-size: cover !important;
}



/*EDIT THIS TO CHANGE THE FRIENDS ICON IMAGE, I WOULD RECOMMEND USING IMGUR TO HOST YOUR IMAGE*/
[class~=guilds-wrapper] [class~=guilds] [class~=friends-icon] {
    background-image: url(https://s-media-cache-ak0.pinimg.com/originals/26/64/b5/2664b58e5882ff735aef9019d7f2bd3e.jpg)
}



/*IF YOU DON'T WANT A CUSTOM FRIENDS ICON JUST REMOVE THIS BIT OF CODE*/
[class~=guilds-wrapper] [class~=guilds] [class~=friends-icon] {
    display: block;
    width: 50px;
    height: 50px;
    content: '';
    background-size: 230%;    /*how zoomed in or zoomed out your image is*/
    background-repeat: no-repeat;
    background-position: top left;    /*the positioning of your image in the icon, for example "top left" uses the top left of the image*/
}



/*THIS CHANGES THE COLOR OF THE UNREAD NOTIFICATION - https://i.imgur.com/ZNds6nn.png */
.guilds-wrapper .guilds .guild.unread:not(.selected):before,
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
    background: #43b581;    /*change this to any hex code you want*/
}



/*THIS CHANGES THE COLOR OF SELECTED TEXT CHANNEL AND THE COLOR WHEN YOU HOVER OVER A CHANNEL*/
[class~=nameSelectedVoice-XpjYTw], .nameHoveredText-2FFqiz, [class~=nameHoveredVoice-TIoHRJ], [class~=nameSelectedText-32NDX5] {
    color: #43b581;
}



/*THIS CHANGES THE COLOR OF THE UNREAD NOTIFICATION FOR A TEXT CHANNEL - https://i.imgur.com/49JPciq.png */
[class~=unread-23Kvxk] {
    background-color: #43b581;
}



/*THIS CHANGES THE COLOR OF THE NEW MESSAGES BAR - https://i.imgur.com/ZtGJ8hy.png */
[class~=chat] [class~=new-messages-bar] {
    background-color: rgba(29, 101, 134, .9);
}
/*AND THIS CHANGES THE COLOR FOR WHEN YOU HOVER OVER IT*/
[class~=chat] [class~=new-messages-bar]:hover {
    background-color: rgba(29, 101, 134, 1);
}



/*THIS CHANGES THE SCROLLBAR COLOR FOR THE CHAT - https://i.imgur.com/VP1h36R.png */
[class~=scroller-wrap] [class~=scroller]::-webkit-scrollbar-thumb {
    background-color: rgba(67, 181, 129, .5) !important;
}



/*THIS CHANGES THE COLOR OF THE CHANNEL/VOICE CATEGORIES - https://i.imgur.com/4cURWzl.png */
.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm {
    color: #43b581;
}
/*THIS CHANGES THE COLOR FOR WHEN YOU HOVER OF THE CATEGORY*/
.iconHovered-3PRzOR, iconHoveredCollapsed-jNYgOD, .nameHovered-1YFSWq, .nameHoveredCollapsed-2c-EHI{
    color: #43b581;
}



/*THIS CHANGES THE COLOR OF THE TITLE BAR - https://i.imgur.com/WHZoI2W.png */
.appMount-14L89u {
    background-color: #000000;
}



/*THIS CHANGES THE COLOR WHEN A PERSON IS SPEAKING AND THE COLOR WHEN YOU HOVER OF THEIR NAME*/
[class~=nameSpeaking-3ROx9q],
[class~=nameHovered-28u_Fz] {
    color: #43b581;
}



/*THIS CHANGES THE EMBED BACKGROUND DARKNESS AND BORDER COLOR*/
.theme-dark .embedInner-t4ag7g {
    background-color: rgba(0, 0, 0, 0.8);
    border-color: rgba(67, 181, 129, 0.2);
}
.theme-dark .embedPill-3sYS1X {
    background-color: rgba(67, 181, 129, 0.4);
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE CONTAINER FOR THE SERVER LISTING*/
[class~=guilds-wrapper] {
    background: rgba(0, 0, 0, .8) !important;
}



/*THIS CHANGES THE COLOR/STRANSPARENCY OF THE CONTAINER FOR THE CHANNEL LISTING*/
.channels-3g2vYe {
    background-color: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR/TRANSPAENCY OF THE CONTAINER FOR THE CHANNEL INFO*/
.theme-dark .title-qAcLxz {
    background: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF MAIN CONTENT IN THE WINDOW*/
[class~=content] [class~=flex-spacer] {
    background: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES COLOR/TRANSPARENCY OF THE MEMBER LISTING*/
[class~=channel-members], [class~=private-channels] [class~=search-bar] input {
    background: rgba(0, 0, 0, .8) !important;
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE LFG TAB*/
.theme-dark .lfg-3xoFkI {
    background-color: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE FRIENDS LIST*/
.friends-table {
    background: rgba(0, 0, 0, 0.8) !important;
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE FRIENDS HEADER*/
.theme-dark .headerBar-cxbhPD {
    background: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR WHEN YOUR HOVER OVER SOMEONE IN THE SERVER MEMBERS LISTING*/
dark .channel-members .member:hover {
    background: linear-gradient(90deg,rgba(67,181,129,0.2) 85%,rgba(0, 0, 0, 0));
}



/*THIS CHANGES THE COLOR AND SIZE OF THE SEPARATION LINE WHEN YOU CLICK ON A USER*/
.body-3rkFrF {
    background-color: rgba(0,0,0,0.9);
    padding: 20px;
    border-bottom: 1px solid #43b581;
}



/*THIS CHANGES THE COLOR OF THE "PROTIP:" WHEN YOU CLICK ON A USER*/
.statusGreen-1ADNRt {
    color: #43b581;
}



/*THIS CHANGES COLOR OF THE TEXT SHOWING THE MAX VOICE CONNECTIONS FOR A VOICE CHANNEL https://i.imgur.com/sgqWPke.png */
.wrapper-2ldvyE {
    color: #43b581;
}