//META{"name":"NAAT - Winter","description":"Winter theme made using NotAnotherAnimeTheme","author":"V-X#5476","version":"1.0"}*//{}
@import url(https://rawgit.com/puckzxz/NotAnotherAnimeTheme/master/css/NotAnotherAnimeTheme.css);


/*      THIS THEME IS THE SAME AS THE ORIGINAL EXCEPT IT HAS A SINGLE COLUMN FOR SERVERS INSTEAD OF TWO                                                 */
/*      IF YOU WANT THE ORIGINAL GO TO THIS LINK -> https://github.com/WhatDaPuck/NotAnotherAnimeTheme/blob/master/NotAnotherAnimeTheme.theme.css       */


/*To make editing this theme easier I recommend using Notepad++ , you can download it for free here - https://notepad-plus-plus.org/download/ */



/*Any images you use MUST end with .jpg or .png or any other image extension*/
/*This is NOT a valid link, https://imgur.com/a/ycjL2 */
/*THIS IS A VALID LINK https://i.imgur.com/rCqnrQ7.jpg */
/*Usually you can just right click your image and then click "Copy image address" and that should give you the direct link to the image*/



/*To edit any colors in this theme you can use hex or rgba*/
/*Example hex code: #43b581 - that is the default discord green*/
/*Example rgba: rbga(255, 0, 0, 0.5) - that is red with half transparency*/
/*rgba works like this rgba(RED, GREEN, BLUE, ALPHA) - red, green and blue should be self-explanatory.  alpha is just transparency with 0.00 being the lowest and 1.00 being the highest*/




/*EDIT THIS TO CHANGE THE BACKGROUND, I RECOMMEND USING IMGUR TO HOST YOUR IMAGE*/
[class~=app] {
    background: url(http://i.pi.gy/YnPxj.jpg) !important;
    background-size: cover !important;
}



/*EDIT THIS TO CHANGE THE FRIENDS ICON IMAGE, I WOULD RECOMMEND USING IMGUR TO HOST YOUR IMAGE*/
[class~=guilds-wrapper] [class~=guilds] [class~=friends-icon] {
    background-image: url(https://pics.clipartpng.com/Christmas_Present_PNG_Clipart-13.png)
}



/*IF YOU DON'T WANT A CUSTOM FRIENDS ICON JUST REMOVE THIS BIT OF CODE*/
[class~=guilds-wrapper] [class~=guilds] [class~=friends-icon] {
    display: block;
    width: 50px;
    height: 50px;
    content: '';
    background-size: 120%;    /*how zoomed in or zoomed out your image is*/
    background-repeat: no-repeat;
    background-position: center;    /*the positioning of your image in the icon, for example "top left" uses the top left of the image*/
}



/*THIS CHANGES THE COLOR OF THE UNREAD NOTIFICATION - https://i.imgur.com/ZNds6nn.png */
.guilds-wrapper .guilds .guild.unread:not(.selected):before,
.guild-channels .channel-text.unread:not(.selected):not(.channel-muted):before {
    background: #f4f5ef;    /*change this to any hex code you want*/
}



/*THIS CHANGES THE COLOR OF SELECTED TEXT CHANNEL AND THE COLOR WHEN YOU HOVER OVER A CHANNEL*/
[class~=nameSelectedVoice-XpjYTw], .nameHoveredText-2FFqiz, [class~=nameHoveredVoice-TIoHRJ], [class~=nameSelectedText-32NDX5] {
    color: #f4f5ef;
}



/*THIS CHANGES THE COLOR OF THE UNREAD NOTIFICATION FOR A TEXT CHANNEL - https://i.imgur.com/49JPciq.png */
[class~=unread-23Kvxk] {
    background-color: #d9193c;
}



/*THIS CHANGES THE COLOR OF THE NEW MESSAGES BAR - https://i.imgur.com/ZtGJ8hy.png */
[class~=chat] [class~=new-messages-bar] {
    background-color: #d9193c;
}
/*AND THIS CHANGES THE COLOR FOR WHEN YOU HOVER OVER IT*/
[class~=chat] [class~=new-messages-bar]:hover {
    background-color: #d9193c;
}



/*THIS CHANGES THE SCROLLBAR COLOR FOR THE CHAT - https://i.imgur.com/VP1h36R.png */
[class~=scroller-wrap] [class~=scroller]::-webkit-scrollbar-thumb {
    background-color: #d9193c !important;
}



/*THIS CHANGES THE COLOR OF THE CHANNEL/VOICE CATEGORIES - https://i.imgur.com/4cURWzl.png */
.iconCollapsed-1INdMX, .iconDefault-xzclSQ, .nameCollapsed-3_ChMu, .nameDefault-Lnjrwm {
    color: #d9193c;
}
/*THIS CHANGES THE COLOR FOR WHEN YOU HOVER OF THE CATEGORY*/
.iconHovered-3PRzOR, iconHoveredCollapsed-jNYgOD, .nameHovered-1YFSWq, .nameHoveredCollapsed-2c-EHI{
    color: #d9193c;
}



/*THIS CHANGES THE COLOR OF THE TITLE BAR - https://i.imgur.com/WHZoI2W.png */
.appMount-14L89u {
    background-color: #363636;
}



/*THIS CHANGES THE COLOR WHEN A PERSON IS SPEAKING AND THE COLOR WHEN YOU HOVER OF THEIR NAME*/
[class~=nameSpeaking-3ROx9q],
[class~=nameHovered-28u_Fz] {
    color: #d9193c;
}



/*THIS CHANGES THE EMBED BACKGROUND DARKNESS AND BORDER COLOR*/
.theme-dark .embedInner-t4ag7g {
    background-color: #363636e5;
    border-color: #851529;
}
.theme-dark .embedPill-3sYS1X {
    background-color: #d9193c;
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE CONTAINER FOR THE SERVER LISTING*/
[class~=guilds-wrapper] {
    background: rgba(0, 0, 0, .8) !important;
}



/*THIS CHANGES THE COLOR/STRANSPARENCY OF THE CONTAINER FOR THE CHANNEL LISTING*/
.channels-3g2vYe {
    background-color: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR/TRANSPAENCY OF THE CONTAINER FOR THE CHANNEL INFO*/
.theme-dark .title-qAcLxz {
    background: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF MAIN CONTENT IN THE WINDOW*/
[class~=content] [class~=flex-spacer] {
    background: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES COLOR/TRANSPARENCY OF THE MEMBER LISTING*/
[class~=channel-members], [class~=private-channels] [class~=search-bar] input {
    background: rgba(0, 0, 0, .8) !important;
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE LFG TAB*/
.theme-dark .lfg-3xoFkI {
    background-color: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE FRIENDS LIST*/
.friends-table {
    background: rgba(0, 0, 0, 0.8) !important;
}



/*THIS CHANGES THE COLOR/TRANSPARENCY OF THE FRIENDS HEADER*/
.theme-dark .headerBar-cxbhPD {
    background: rgba(0, 0, 0, 0.8);
}



/*THIS CHANGES THE COLOR WHEN YOUR HOVER OVER SOMEONE IN THE SERVER MEMBERS LISTING*/
.channel-members .member:hover {
    background: linear-gradient(90deg,#d9193c 85%,rgba(0, 0, 0, 0)) !important;
}



/*THIS CHANGES THE COLOR AND SIZE OF THE SEPARATION LINE WHEN YOU CLICK ON A USER*/
.body-3rkFrF {
    background-color: rgba(0,0,0,0.9);
    padding: 20px;
    border-bottom: 1px solid #d9193c;
}



/*THIS CHANGES THE COLOR OF THE "PROTIP:" WHEN YOU CLICK ON A USER*/
.statusGreen-1ADNRt {
    color: #d9193c;
}



/*THIS CHANGES COLOR OF THE TEXT SHOWING THE MAX VOICE CONNECTIONS FOR A VOICE CHANNEL https://i.imgur.com/sgqWPke.png */
.wrapper-2ldvyE {
    color: #d9193c;
}


/*THIS CHANGES THE MENU WHEN CLICK THE SERVER OPTIONS DROPDOWN AND THE STATUS MENU */
.menu-3BZuDT {
    background: #000;
}
/*THIS CHANGES THE COLOR WHEN YOU HOVER OVER THE ITEMS IN THE ABOVE MENU*/
.item-rK1j5B:hover {
    background-color: rgb(25, 25, 25);
}



/*THESE CHANGE THE COLOR OF THE MENU WHEN YOU RIGHT CLICK ON A SERVER*/
.theme-dark .contextMenu-uoJTbz {
    background: #000000;
}
.theme-dark .itemSubMenu-3ZgIw- { /*DO NOT CHANGE THE URL HERE*/
    background: #000000 url(/assets/1988164a7c55346d32117b151f4e319d.svg) no-repeat 155px 50%;
}



/*THIS CHANGES THE MENU WHEN YOU CLICK THE 3 DOTS IN THE TOP RIGHT OF A MESSAGE*/
.small-popout-box {
    background: #000;
    border: 1px solid #d9193c;
}
/*AND THIS CHANGED THE HOVER COLOR */
.option-popout .btn-item:hover {
    color:#d9193c;
}



/*THIS CHANGES THE COLOR OF THE PRIVATE CALL BACKGROUND*/
.video-3lOWa6 {
    background-color: rgba(0, 0, 0, 0.9);
}



/*THIS CHANGES THE TEXT SIZE IN SERVER CHAT AND DM'S*/
.messages .markup {
    font-size: .85em !important;
}



/*THIS CHANGES THE USERNAME SIZE IN CHAT*/
[class~=messages] h2 [class~=user-name] {
    font-size: .85em !important;
    /*.85em is default*/
}



/*THIS CHANGES THE FONT COLOR*/
.theme-dark .message-group .comment .markup {
    color: rgba(255, 255, 255, 0.5) !important;
    /*You can change the font weight by editing the alpha, 0.5 is default, 1.0 would be bold*/
}



/*THIS CHANGES THE TOOLTIP FOR WHEN YOU HOVER OVER A SERVER*/
.tooltip.tooltip-black {
    background-color: #2f3136;
}
